/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.rightarrow, .leftarrow {
  background: url("../images/arrow.png") no-repeat;
  background-size: contain;
  border: none;
  display: inline-block;
  height: 18px;
  width: 18px;
  &:focus {
    background-color: transparent;
  }
  &:hover {
    filter: brightness(150%);
    -webkit-filter: brightness(150%);
  }
}

.leftarrow {
  transform: rotate(180deg);
}

.attribute-points {
  display: inline-block;
  min-width: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

@keyframes disabledInputAnim {
  0% {
    border-color: transparent;
  };
  25% {
    border-color: #473B2A;
  };
  50% {
    border-color: transparent;
  };
  75% {
    border-color: #473B2A;
  }
  100% {
    border-color: transparent;
  }
}

.maxmin-points {
  animation-name: disabledInputAnim;
  animation-duration: 500ms;
}

.attribute-row {
  cursor: default;
  width: 100%;
  display: block;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), transparent);
  padding-bottom: 10px;
  margin-bottom: 1px;
  letter-spacing: 0.3px;
  &.important {
    background: linear-gradient(to right, rgb(46, 38, 25), #1B160E);
    color: #ffe1c2;
  }
  &:hover {
    filter: brightness(150%);
    -webkit-filter: brightness(150%);
  }
}

.selection-box {
  color: #727272;
  .attribute-row {
    padding: 5px 10px;
  }
}
.right {
  float: right;
}

.description {
  color: rgba(255, 255, 255, 0.6);
}

span.points {
  font-size: .6em;
  font-family: 'Lato';
  color: rgb(209, 190, 95);
  text-align: right;
  position: relative;
}

.attributes-view {
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 0px 20px black;
  background: rgba(16, 10, 4, 0.55);
  padding: 20px;
  margin-bottom: 45px;
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,transparent, rgba(255, 221, 188, 0.33), transparent);
    border:none;
    box-shadow: inset 0px 0px 20px rgba(84, 73, 58, 0.68);
  }
  .row{
    margin-top:15px;
  }
  .attribute-row {
    max-width: calc(50% - 10px);
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    min-height: 50px;
    vertical-align: top;
    .attributename{
      float:left;
      color:#e2e2e2;
    }
  }
  .attribute-header {
    padding: 10px 3px;
    border-width: 1px;
    margin-bottom: 5px;
    border-image: linear-gradient(to bottom right, rgba(132, 132, 132, 0.32), transparent);
    border-image-slice: 1;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), transparent);
    color: #C7AC8F;
    display: flex;
    justify-content: space-between;
    .attribute-header-name {
      text-align: left;
    }
    .attribute-header-value {
      text-align: right;
    }
  }
  h4 {
    font-size:1.2em;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.46);
  }
}

.attribute-description {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 900px) {
  .attributes-view .attribute-row {
    max-width: 100%;
  }
}

@media screen and (min-width: 1300px) {
  .attributes-view .attribute-row {
    max-width: calc(33.33% - 10px);
  }
}

@media screen and (min-width: 1600px) {
  .attributes-view .attribute-row {
    max-width: calc(33.33% - 10px);
  }
}
