/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.gender-btn {
  width: 30%;
  margin: 5px;
  -webkit-user-select: none;
  cursor: pointer !important;
  padding: 5px 20px;
  font-weight: 700;
  text-align: center;
  background: $gradient2;
  border: solid $colorg2 1px;
  color: $color1;
  transition: all .2s ease-in-out;
  &:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
  }
  &:active {
    background-color: rgba(255, 200, 100, 0.15);
  }
  &:disabled {
    opacity: .5;
  }
}

.selected {
  background: $gradient4;
  border: solid $colorg4 1px;
  color: $colorg4;
  &:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
  }
}

.thumb__Pict--Male {
  @include selection-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_pict-m.png');
}
.thumb__Pict--Female {
  @include selection-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_pict-f.png');
}

.thumb__Luchorpan--Male {
  @include selection-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_luchorpan-m.png');
}

.thumb__Luchorpan--Female {
  @include selection-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_luchorpan-f.png');
}

.thumb__Valkyrie--Male {
  @include selection-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_valkyrie-m.png');
}

.thumb__Valkyrie--Female {
  @include selection-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_valkyrie-f.png');
}

.thumb__HumanMaleV--Male {
  @include selection-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-m-vik.png');
}

.thumb__HumanMaleA--Male {
  @include selection-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-m-art.png');
}

.thumb__HumanMaleT--Male {
  @include selection-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-m-tdd.png');
}

.thumb__HumanMaleV--Female {
  @include selection-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-f-vik.png');
}

.thumb__HumanMaleA--Female {
  @include selection-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-f-art.png');
}

.thumb__HumanMaleT--Female {
  @include selection-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-f-tdd.png');
}


.standing__Luchorpan--Male {
  @include view-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/luchorpan-m.png');
}

.standing__Luchorpan--Female {
  @include view-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/luchorpan-f.png');
}

.standing__Valkyrie--Male {
  @include view-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/valkyrie-m.png');
}

.standing__Valkyrie--Female {
  @include view-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/valkyrie-f.png');
}

.standing__Pict--Male {
  @include view-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/pict-m.png');
}

.standing__Pict--Female {
  @include view-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/pict-f.png');
}

.standing__HumanMaleV--Male {
  @include view-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/humans-m-vik.png');
}

.standing__HumanMaleA--Male {
  @include view-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/humans-m-art.png');
}

.standing__HumanMaleT--Male {
  @include view-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/humans-m-tdd.png');
}

.standing__HumanMaleV--Female {
  @include view-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/humans-f-vik.png');
}

.standing__HumanMaleA--Female {
  @include view-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/humans-f-art.png');
}

.standing__HumanMaleT--Female {
  @include view-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/humans-f-tdd.png');
}
