/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.gender-btn {
  width: 30%;
  margin: 5px;
  -webkit-user-select: none;
  cursor: pointer !important;
  padding: 5px 20px;
  font-weight: 700;
  text-align: center;
  background: $gradient2;
  border: solid $colorg2 1px;
  color: $color1;
  transition: all .2s ease-in-out;
  &:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
  }
  &:active {
    background-color: rgba(255, 200, 100, 0.15);
  }
  &:disabled {
    opacity: .5;
  }
}

.selected {
  background: $gradient4;
  border: solid $colorg4 1px;
  color: $colorg4;
  &:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
  }
}

.thumb__Pict--Male {
  @include selection-thumbnail('../images/races/thumbnail/icon_pict-m.png');
}
.thumb__Pict--Female {
  @include selection-thumbnail('../images/races/thumbnail/icon_pict-f.png');
  bottom: 30px!important;
  max-height: 85%!important;
}

.thumb__Luchorpan--Male {
  @include selection-thumbnail('../images/races/thumbnail/icon_luchorpan-m.png');
}

.thumb__Luchorpan--Female {
  @include selection-thumbnail('../images/races/thumbnail/icon_luchorpan-f.png');
}

.thumb__Valkyrie--Male {
  @include selection-thumbnail('../images/races/thumbnail/icon_valkyrie-m.png');
}

.thumb__Valkyrie--Female {
  @include selection-thumbnail('../images/races/thumbnail/icon_valkyrie-f.png');
}

.thumb__HumanMaleV--Male {
  @include selection-thumbnail('../images/races/thumbnail/icon_humans-m-vik.png');
}

.thumb__HumanMaleA--Male {
  @include selection-thumbnail('../images/races/thumbnail/icon_humans-m-art.png');
}

.thumb__HumanMaleT--Male {
  @include selection-thumbnail('../images/races/thumbnail/icon_humans-m-tdd.png');
}

.thumb__HumanMaleV--Female {
  @include selection-thumbnail('../images/races/thumbnail/icon_humans-f-vik.png');
}

.thumb__HumanMaleA--Female {
  @include selection-thumbnail('../images/races/thumbnail/icon_humans-f-art.png');
}

.thumb__HumanMaleT--Female {
  @include selection-thumbnail('../images/races/thumbnail/icon_humans-f-tdd.png');
}


.standing__Luchorpan--Male {
  @include view-standing('../images/races/standing/luchorpan-m.png');
}

.standing__Luchorpan--Female {
  @include view-standing('../images/races/standing/luchorpan-f.png');
}

.standing__Valkyrie--Male {
  @include view-standing('../images/races/standing/valkyrie-m.png');
}

.standing__Valkyrie--Female {
  @include view-standing('../images/races/standing/valkyrie-f.png');
}

.standing__Pict--Male {
  @include view-standing('../images/races/standing/pict-m.png');
}

.standing__Pict--Female {
  @include view-standing('../images/races/standing/pict-f.png');
}

.standing__HumanMaleV--Male {
  @include view-standing('../images/races/standing/humans-m-vik.png');
}

.standing__HumanMaleA--Male {
  @include view-standing('../images/races/standing/humans-m-art.png');
}

.standing__HumanMaleT--Male {
  @include view-standing('../images/races/standing/humans-m-tdd.png');
}

.standing__HumanMaleV--Female {
  @include view-standing('../images/races/standing/humans-f-vik.png');
}

.standing__HumanMaleA--Female {
  @include view-standing('../images/races/standing/humans-f-art.png');
}

.standing__HumanMaleT--Female {
  @include view-standing('../images/races/standing/humans-f-tdd.png');
}

.race-btn {
  cursor: pointer;
}

.race-selection-container {
  display: flex;
}

.gender-selection-container {
  display: flex;
}

.videobg {
  margin-top: -20px;

  .snow, .snow-close, .glowOrbs, .dust {
    position: absolute;
    height:100vh;
    width: 100vw;
    overflow:hidden;
    z-index:1;
    top: 0;
  }
  .snow{
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  .glowOrbs {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }

  .parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    left: 0;
  }

  .bgelement {
    position: absolute;
    z-index:1;
    width: 100%;
    height: 100%;
    left: 0;
    background-repeat: no-repeat;
    background-position: top center;
    transition: opacity 0.7s linear;
    -webkit-transition: opacity 0.7s linear;
  }

  .ray1 {
    background-image: url(../images/visualfx/ray-1.png);
    background-position:1% top;
    background-size:60%;
    animation: rays 5s ease infinite;
    &.arthurian {
      -webkit-filter: hue-rotate(20deg) opacity(1);
      filter: hue-rotate(20deg) opacity(1);
      background-position:100% top;
      background-size:100%;
      animation: rays 15s ease infinite;
      &.pict {
        -webkit-filter: saturate(0) opacity(1);
        filter: saturate(0) opacity(1);
      }
    }
    &.viking {
      -webkit-filter: grayscale(100%) brightness(150%) opacity(.5);
      filter: grayscale(100%) brightness(150%) opacity(.5);
      background-position:150% top;
      background-size:70%;
      animation: rays 15s ease infinite;
    }
    &.tdd {
      background-position:150% top;
      background-size:70%;
      animation: rays 15s ease infinite;
      -webkit-filter:hue-rotate(40deg);
      filter:hue-rotate(40deg);
    }
  }

  .ray2 {
    background-image: url(../images/visualfx/ray-1.png);
    background-position:50% top;
    background-size:70%;  
    animation: rays 3s ease infinite;
    &.arthurian {
      background-position:80% top;
      animation: rays 13s ease infinite;
      -webkit-filter: hue-rotate(20deg) opacity(.8);
      filter: hue-rotate(20deg) opacity(.8);
      &.pict {
        -webkit-filter: saturate(0) opacity(1);
        filter: saturatete(0) opacity(1);
      }
    }
    &.viking {
      background-position:80% top;
      animation: rays 13s ease infinite;
      -webkit-filter:saturate(0) brightness(150%) opacity(.8);
      filter:saturate(0) brightness(150%) opacity(.8);
    }
    &.tdd {
      background-position:80% top;
      background-size:70%;  
      animation: rays 13s ease infinite;
      -webkit-filter:hue-rotate(40deg);
      filter:hue-rotate(40deg);
    }
  }

  .ray3 {
    background-image: url(../images/visualfx/ray-3.png);
    background-position:100% top;
    background-size:80%;  
    animation: rays 4s ease infinite;
    &.arthurian {
      background-image: url(../images/visualfx/ray-1.png);
      background-position:20% top;
      background-size:100%;  
      animation: rays 10s ease infinite;
      -webkit-filter: hue-rotate(20deg) opacity(1);
      filter: hue-rotate(20deg) opacity(1);
      &.pict {
        -webkit-filter: saturate(0) opacity(1);
        filter: saturate(0) opacity(1);
      }
    }
    &.viking {
      background-image: url(../images/visualfx/ray-1.png);
      background-position:30% top;
      background-size:50%;  
      animation: rays 10s ease infinite;
      -webkit-filter:saturate(0) brightness(150%) opacity(.5);
      filter:saturate(0) brightness(150%) opacity(.5);
    }
    &.tdd {
      background-image: url(../images/visualfx/ray-1.png);
      background-position:30% top;
      background-size:50%;  
      animation: rays 10s ease infinite;
      -webkit-filter:hue-rotate(40deg);
      filter:hue-rotate(40deg);
    }
  }

  .particle {
    background-image: url(../images/visualfx/particle.png);
    &.arthurian {
      background-image: url(../images/visualfx/art/art-particle.png);
      -webkit-filter: opacity(.5);
      filter: opacity(.5);
    }
    &.viking {
      background-image: url(../images/visualfx/vik/vik-particle.png);
      filter:invert(10%);
    }
    &.tdd {
      -webkit-filter: invert(10%);
      filter:invert(10%);
    }
  }

  .char {
    z-index: 2;
    background-position: 55% bottom;
    background-size: contain;
    max-height: 80%;
    top: auto !important;
    bottom: 0px;
    left: 0px;
    &.char-select {
      background-position: 35% bottom;
    }
    &.luchorpan {
      max-height: 60%;
    }
  }

  .base {
    z-index: 2;
    background-position: 55% bottom;
    background-size: contain;
    max-height: 20%;
    top: auto !important;
    bottom: -10px !important;
    right: 0px;
    &.char-select {
      background-position: 35% bottom;
    }
    &.arthurian {
      background-image: url(../images/visualfx/art/art-base.png);
    }
    &.viking {
      background-image: url(../images/visualfx/vik/vik-base.png);
    }
    &.tdd {
      background-image: url(../images/visualfx/tdd/tdd-base_edit02.png);
    }
  }
  
  .veil {
    background-position: bottom;
    background-size: cover;
    top: -10px !important;
    left: -30px !important;
    width: 110%;
    height: 110%;
    &.arthurian {
      z-index: 2;
      background-image: url(../images/visualfx/art/art-veil.png);
    }
    &.viking {
      background-image: url(../images/visualfx/vik/vik-veil.png);
    }
    &.tdd {
      background-image: url(../images/visualfx/tdd/tdd-veil.png);
    }
    &.tdd-human {
      background-image: url(../images/visualfx/tdd/human/tdd2-veil.png);
    }
    &.viking-valkyrie {
      background-image: url(../images/visualfx/vik/humans/vik2-veil.png);
    }
  }

  .veil2 {
    background-position: bottom;
    background-size: cover;   
    transform: scale(1.2);
    top: -10px !important;
    left: -30px !important;
    width: 110%;
    height: 110%;
    &.arthurian {
      z-index: 2;
      background-image: url(../images/visualfx/art/art-veil2.png);
    }
    &.viking {
      background-image: url(../images/visualfx/vik/vik-veil2.png);
    }
    &.tdd {
      background-image: url(../images/visualfx/tdd/tdd-veil2.png);
    }
  }

  .layer1 {
    background-image: url(../images/visualfx/tdd4.png);
    background-position: bottom;
    background-size: cover;   
    top: -10px !important;
    left: -30px !important;
    width: 110%;
    height: 110%;
    &.arthurian {
      background-image: url(../images/visualfx/art/art-layer1.png); 
      background-size: cover;
      background-position: center; 
    }
    &.viking {
      background-image: url(../images/visualfx/vik/vik-layer1.png);
      background-position: right center;
    }
    &.tdd-human {
      background-image: url(../images/visualfx/tdd/human/tdd2-layer1.png);
      background-position: center;
    }
    &.viking-valkyrie {
      background-image: url(../images/visualfx/vik/valkyrie/vik2-layer1.png);
      background-position: right center;
    }
    &.arthurian-pict {
      background-image: url(../images/visualfx/art/pict/art2-layer1.png);
    }
  }

  .layer2 {
    background-image: url(../images/visualfx/tdd3.png);
    background-position: bottom;
    background-size: cover;
    top: -10px !important;
    left: -30px !important;
    width: 110%;
    height: 110%;
    &.arthurian {
      background-image: url(../images/visualfx/art-grnd.png);
      background-position: bottom right;
    }
    &.viking {
      background-image: url(../images/visualfx/vik/vik-layer2.png);
      background-position: right center;
    }
    &.tdd {
      background-image: url(../images/visualfx/tdd/tdd-layer2.png);
      background-position: right center;
    }
    &.tdd-human {
      background-image: url(../images/visualfx/tdd/human/tdd2-layer2.png);
      background-position: center;
    }
    &.viking-valkyrie {
      background-image: url(../images/visualfx/vik/valkyrie/vik2-layer2.png);
      background-position: right center;
    }
  }
  
  .layer3 {
    background-image: url(../images/visualfx/tdd2.png);
    background-position: bottom;
    background-size: cover;
    top: -10px !important;
    left: -30px !important;
    width: 110%;
    height: 110%;
    &.arthurian {
      background-image: url(../images/visualfx/art-castle.png);
      background-position: bottom right;
    }
    &.viking {
      background-image: url(../images/visualfx/viking-dragon.png);
      background-position: center;
    }
    &.tdd {
      background-image: url(../images/visualfx/tdd/tdd-layer3.png);
      background-position: center;
    }
  }

  .bg {
    background-image: url(../images/visualfx/bg2.jpg); 
    top: -10px !important;
    left: -30px !important;
    width: 110%;
    height: 110%;
    background-position: bottom;
    background-size: cover;
    &.arthurian {
      background-image: url(../images/visualfx/art/art-layer2.png);
      background-position: center;
    }
    &.viking {
      background-image: url(../images/visualfx/vik/vik-bg.png);
    }
    &.tdd {
      background-image: url(../images/visualfx/tdd/tdd-bg.png);       
    }
    &.tdd-human {
      background-image: url(../images/visualfx/tdd/human/tdd2-bg.png);
    }
    &.viking-valkyrie {
      background-image: url(../images/visualfx/vik/valkyrie/vik2-bg.png);
    }
    &.arthurian-pict {
      background-image: url(../images/visualfx/art/pict/art2-bg.png);
    }
    &.no-char {
      background-image: url(../images/controller/generic-bg.jpg);
    }
  }

  .clouds {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
    background:transparent url(../images/visualfx/smoke-close.png) repeat-x bottom center;
    z-index:1;
    animation:move-clouds-close 7s linear infinite;
    transition: opacity 0.7s linear;
    -webkit-transition: opacity 0.7s linear;
      &:before{
          content:"";
          position:absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
          width:100%;
          height:100%;
          display:block;
          background:transparent url(../images/visualfx/smoke.png) repeat-x bottom center;
          background-size: 500px;
          z-index:3;
          -webkit-filter: opacity(.2);
          filter: opacity(.2);
          animation:move-clouds-back 7s linear infinite;
    }
    &.arthurian {
      animation:move-clouds-close-left 15s linear infinite;
      -webkit-filter:  opacity(.8);
      filter:  opacity(.8);
      transform: scaleY(-1);
      &:before {
        bottom:50%;
        height:50%;
        animation:move-clouds-back-art 15s linear infinite;
        background-size: 800px;
        z-index:1;    
        -webkit-filter: opacity(.5);
        filter: opacity(.5);
      }
    }
    &.viking {
      animation:move-clouds-close 15s linear infinite;
      -webkit-filter: brightness(.5) opacity(.5);
      filter: brightness(.5) opacity(.5);
      &:before {
          z-index:1;
          opacity: 1;
          animation:move-clouds-back 15s linear infinite;
      }
    }
    &.tdd {
      animation:move-clouds-close-left 15s linear infinite;
      -webkit-filter: brightness(.5) opacity(.5);
      filter: brightness(.5) opacity(.5);
      &:before {
        opacity: 1;
        -webkit-filter: brightness(0) opacity(.5);
        filter: brightness(0) opacity(.5);
        animation:move-clouds-back-left 20s linear infinite;
      }
    }
  }

  .lightning {    
    background-image: url(../images/visualfx/vik/vik-cloud.png);
    background-position: right center;
    background-size:cover;   
    transform: scale(1.1);
    animation: blink 5s ease infinite;
  }
}

/*Moving clouds*/


@keyframes move-clouds-back {
  from {background-position:0 bottom;}
  to {background-position:500px bottom;}
}

@keyframes move-clouds-back-art {
  from {background-position:800px bottom;}
  to {background-position:0 bottom;}
}

@keyframes move-clouds-close {
  from {background-position:0 bottom;}
  to {background-position:1578px bottom;}
}

@keyframes move-clouds-back-left {
  from {background-position:500px bottom;}
  to {background-position:0 bottom;}
}

@keyframes move-clouds-close-left {
  from {background-position:1578px bottom;}

  to {background-position:0 bottom;}
}

/* Move Rays */

@keyframes rays {
  0% {
    opacity: .3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .3;
  }
}


/* Lightning Blink */

@keyframes blink {
  0%, 42%, 45%, 69%, 100% {
    opacity:1;
  }
  44%, 53%, 70%{
    opacity:.5;
  }
}
