/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

 $cu-styles-root: '../../../interface-lib/camelot-unchained/styles/';
 @import "../../node_modules/camelot-unchained/lib/index.scss";

#inventory {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 203px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
    }
  }
}

.cu-window-content::before {
  opacity: 0.6;
}

.inventory-list {
  overflow: auto;
  position: absolute;
  top: 0;
  right: 9px;
  bottom: 8px;
  left: 10px;
  z-index: 2;
  margin: 0;
  padding: 4px 2px 0 5px;
  list-style: none;
}

.inventory-item {
  position: relative;
  margin: 0px;
  padding: 4px 2px;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;

  &:hover {
    background-color: rgba(0,0,0,0.75);
  }

  .inventory-list--vertical & {
    cursor: pointer;

    .icon {
      display: inline-block;
      vertical-align: middle;
      margin-top: -1px;

      img {
        display: block;
      }
    }

    .name {
      display: inline-block;
      vertical-align: middle;
      max-width: 190px;
      padding-left: 5px;
      line-height: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 80%;
    }

    .quantity {
      display: block;
      float: right;
      margin: 1px 0 0;
      padding: 0 2px 0 5px;
      line-height: 15px;
      font-size: 80%;
      text-align: right;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 10px #000;
}

.tooltip {
  display: none;
  position: fixed;
  top: 47px; // magic number to place under header
  left: 3px; // allow shadow to fit on left size of rect
  z-index: 2;
  width: 204px;
  padding: 10px;
  border: 1px solid #555;
  background: rgba(0, 0, 0, .75);
  color: #ccc;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, .45);
  pointer-events: none;

  .inventory-item:hover & {
    display: block;
  }
}

.tooltip__title {
  margin: 0 0 3px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}

.tooltip__detail {
  margin: 0 0 4px;
  font-size: 10px;
}

.tooltip__meta {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 9px;
  color: #999;
}
