/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.blueprints {
  color: white;
}

.blueprints__filter__select {
  width: 75%;
}

@import './components/BlueprintList/index';
@import './components/BlueprintSaveView/index';
