.idea
.suo
npm-debug.log
.sublime-gulp.cache
**/*node_modules
/bin
/obj
/tmp
/dist
/publish
/publish-cse
/.vs
/lib/
/interface-lib/
/cu-boilerplate-module
/user-cu-build.config.js
.csproj
**/*.csproj
/typings
**/typings
