/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.InteractiveAlert {
  position: fixed;
  top: 0;
  width: 500px;
  height: 100px;
  margin-left: -250px;
  left: 50%;
  background: #646464;
}

.InteractiveAlert__message {
  text-align: center;
  padding: 10px;
  color: #ececec;
  div {
    margin: 5px;
  }
  h3 {
    margin: 5px 0px;
  }
  em {
    margin: 0;
    font-size: 0.8rem;
    display: block;
  }
  .button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    background-color: #fff;
    color: #646464;
  }
  .button.blue {
    background-color: #4285f4;
    color: #fff;
  }
  .button.raised {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
    
  .button.raised:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
  }
}
