/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.drop-light {
  position:relative;
  font-size: 14px;

  input {
    color: #eaeaea;
    background: transparent;
    border: 0;
    border-bottom: 1px solid  #514A44;
    width: 40px;
    text-align: center;
    transition: all .1s ease-in-out;
    &:hover {
      border: 0;
      border-bottom: 1px solid #A99C90;
    }
    &:focus {
      outline: none;
      border: 0;
      border-bottom: 1px solid #7C7269 ;
    }
  }
  
  .drop-buttons {
    margin-top: 5px;
  }

  .drop-light__preview {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #464646;
    float: left;

    &:hover {
      -webkit-filter: brightness(130%);
      filter: brightness(130%);
    }
  }

  .control {
    white-space: nowrap;
    display: inline-block;
    .label{
      display: inline-block;
      width: 60px;
    }
  }

}
