/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.rightarrow, .leftarrow {
    background: url("../images/arrow.png") no-repeat;
    background-size: contain;
    border: none;
    display: inline-block;
    height: 18px;
    width: 18px;
    &:focus{
        background-color: transparent;
    }
    &:hover{
        filter: brightness(150%);
        -webkit-filter: brightness(150%);
    }
}

.leftarrow {
    transform: rotate(180deg);
}

.attribute-points {
    display: inline-block;
    min-width: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.attribute-row{
    width: 100%;
    display: block;
    margin-bottom: 15px;
    &:hover{
      filter: brightness(150%);
      -webkit-filter: brightness(150%);
    }
}

.right {
  float: right;
}

.description {
  color: rgba(255, 255, 255, 0.6);
}

span.points {
    font-size: .8em;
    font-family: 'TitilliumWeb';
    color: rgb(206, 181, 59);
}

.attributes-view {
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 175px;
  box-shadow: 0px 0px 20px black;
  background: rgba(16, 10, 4, 0.55);
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,transparent, rgba(255, 221, 188, 0.33), transparent);
    border:none;
    box-shadow: inset 0px 0px 20px rgba(84, 73, 58, 0.68);
  }
  &::before {
    content: '';
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.6));
    display: block;
    position: absolute;
    height: 10%;
    width: 100%;
    bottom: 195px;
  }
  .attribute-points{
    padding: 10px 0px;
    box-shadow: inset 0px 6px 30px rgb(14, 7, 3);
    border-width: 1px;
    border-image: linear-gradient(to bottom, rgba(132, 132, 132, 0.32), transparent);
    border-image-slice: 1;
  }
  h4{
    font-size:1.2em;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.46);
  }
}

.attribute-description {
  color: rgba(255, 255, 255, 0.6);
}
