.suo
.xcf
npm-debug.log
.sublime-gulp.cache
**/*node_modules
/node_modules
**/node_modules
/bin
/obj
/tmp
/dist
/publish
/publish-cse
/.vs
/lib/
/interface-lib/
/cu-boilerplate-module
/user-cu-build.config.js
.csproj
/typings
**/bin
**/*.csproj
**/typings
**/dist
**/publish
**/publish-cse
**/.vs
**/lib/
**/interface-lib/
**/cu-boilerplate-module
**/user-cu-build.config.js
/build
**/build
**/tmp
/tmpp
**/tmpp
**/definitions
patcher/PatchClient
!/shared/lib/