.suo
.xcf
npm-debug.log
.sublime-gulp.cache
**/*node_modules
/node_modules
**/node_modules
/bin
/obj
/tmp
/dist
/publish
/publish-cse
/.vs
/interface-lib/
/cu-boilerplate-module
/user-cu-build.config.js
.csproj
/typings
**/bin
**/*.csproj
**/typings
**/dist
**/publish
**/publish-cse
**/.vs
library/lib/
**/interface-lib/
**/cu-boilerplate-module
**/user-cu-build.config.js
/build
**/build
**/tmp
/tmpp
**/tmpp
**/definitions
patcher/PatchClient
!/shared/lib/
**/.vscode/
widgets/cu-xmpp-chat/lib/
widgets/cu-character-creation/lib/
library/docs/
.idea/
*.config.js
dev.config
**__snapshots__
**/schema.ts
**/schema.json
**/definitions.ts
game/hud/gql/
game/hud/src/gqlDocuments\.ts
game/hud/src/gqlInterfaces\.ts
**/*.code-workspace
.cache-loader
!webpack.config.js
yarn-error.log
.gql
