$ColorBlackSemitransparent: #000000b2;
$ColorBlackTransparent: #00000000;
$ColorButtery: #ffc37e;
$ColorButterySemitransparent: #ffc37ecc;
$ColorDarkRedTransparent: #9e1b1b00;
$ColorDeepCharcoal: #2b2b2b;
$ColorDiesel: #312c2a;
$ColorDisabledGrayText: #777777;
$ColorIvory: #f2ede4;
$ColorMoleTransparent: #382c2700;
$ColorMuteClay: #b89984;
$ColorOlive: #574740;
$ColorPaleSand: #e3d8c3;
$ColorTaupe: #8b7d77;
$ColorWeatheredWoodSemitransparent: #b8998480;
