/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@font-face {
  font-family: 'TitilliumWeb';
  src: url(../font/TitilliumWeb/TitilliumWeb-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWebItalic';
  src: url(../font/TitilliumWeb/TitilliumWeb-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWebBold';
  src: url(../font/TitilliumWeb/TitilliumWeb-SemiBold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWebBoldItalic';
  src: url(../font/TitilliumWeb/TitilliumWeb-SemiBoldItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caudex';
  src: url(../font/Caudex/Caudex-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaudexItalic';
  src: url(../font/Caudex/Caudex-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaudexBold';
  src: url(../font/Caudex/Caudex-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaudexBoldItalic';
  src: url(../font/Caudex/Caudex-BoldItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url(../font/Caveat/Caveat-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaveatBold';
  src: url(../font/Caveat/Caveat-Bold.ttf) format('truetype');
  font-weight: 'normal';
  font-style: 'normal';
}

@font-face {
  font-family: 'TradeWinds';
  src: url(../font/Trade_Winds/TradeWinds-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: normal;
  src: url('../font/Kreon\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: bold;
  src: url('../font/Kreon\ Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 200;
  src: url('../font/Kreon\ Light.ttf') format('truetype');
}
