/**
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

// font
@import './_cu-icons.scss';
@import './font';

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'TitilliumWeb'
}

.chat-window {
  position: relative;
  overflow: hidden;
  display: block;
}

#hud {
  width: 100%;
  height: 100%;
  @import './_font.scss';

  // components
  @import './components/hud/index';
  @import './components/utils/HUDDrag/index';
  @import './components/hud/ErrorMessages/index';
  @import './components/hud/Announcement/index';
  @import './components/hud/DevUI/index';
  @import './components/fullscreen/LoadingScreen/index';
  @import './components/shared/ParallaxBG/index';
  // widgets
  @import './components/hud/BuildingOLD/index';
  // external scss
  @import '../node_modules/@csegames/camelot-unchained/lib/components/Chat/index.scss';
  .chat-window {
    position: relative;
    overflow: hidden;
    display: block;
  }
  .click-effect {
    &:active {
      color: white;
      -webkit-animation: glow .2s ease-in-out infinite alternate;
      animation: glow .2s ease-in-out infinite alternate;
    }
  }

  .display-none {
    display: none;
  }

  .loading-spin {
    -webkit-animation: loading-spin 1s infinite;
    animation: loading-spin 1s infinite;
  }

  .map-tooltip {
    position: relative;
    padding: 1px 3px;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    white-space: nowrap;
  }

  @-webkit-keyframes loading-spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes loading-spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #f4d142, 0 0 14px #f4d142, 0 0 16px #f4d142;
    }
    to {
      text-shadow: 0 0 1px #efefef, 0 0 2px #efefef, 0 0 3px #efefef, 0 0 4px #f4d142, 0 0 7px #f4d142, 0 0 8px #f4d142;
    }
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #f4d142, 0 0 14px #f4d142, 0 0 16px #f4d142;
    }
    to {
      text-shadow: 0 0 1px #efefef, 0 0 2px #efefef, 0 0 3px #efefef, 0 0 4px #f4d142, 0 0 7px #f4d142, 0 0 8px #f4d142;
    }
  }

  @mixin shake($x, $y, $rot, $name, $steps:10, $opacity:false) {
    $r:0deg;
    $h:0px;
    $v:0px;

    $interval: $steps;
    $step: 0%;

    @keyframes #{$name}{
      @while $step < 100% {
        @if ($rot != 0deg){ $r : random($rot) - $rot/2;}
          @else {$r : 0deg;}
        @if ($x != 0px){ $h : random($x) - $x/2; }
          @else { $h : 0px; }
        @if ($y != 0px){ $v : random($y) - $y/2; }
          @else { $v : 0px; }

        @if($step == 0%){
          #{$step} {
            transform: translate(0px, 0px) rotate(0deg);
            @if($opacity){
              opacity: random(10)*.1;
            }
          }
        } @else {
          #{$step} {
            transform: translate($h, $v) rotate($r);
            @if($opacity){
              opacity: random(10)*.1;
            }
          }
        }
        $step: $step + $interval;
      }

    }
  }

  @include shake(20px, 20px, 5deg, 'shake-hard', 3);


  a {
    text-decoration: none;
    color: darken(#3fd0b0, 10%);
    transition: all 0.3s;
    &:hover {
      color: lighten(#3fd0b0, 10%);
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

/* CSE_Koo scroll bars */
.cse-ui-scroller-thumbonly {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: none;
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    border: 60px solid rgb(64,64,64);
    border-width: 60px 7px 60px 7px;
    border-image: url(../images/settings/scrollbar-thumb-ends.png);
    border-image-slice: 30 4 30 4;
    min-height: 100px;
    box-shadow: none;
    background: none;
  }
}

.cse-ui-scroller-thumbonly-brown {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: none;
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    position: relative;
    border: 60px solid #404040;
    border-width: 60px 7px 60px 7px;
    border-image: url(../images/inventory/scrollbar-thumb-ends-brown.png);
    border-image-slice: 30 4 30 4;
    min-height: 100px;
    box-shadow: none;
    background: none;
  }
}

.reset-scroll {
  &::-webkit-scrollbar {
    width: auto;
    height: auto;
  }
  &::-webkit-scrollbar-track {
    box-shadow: auto;
    border-radius: auto;
    background: auto;
  }
  &::-webkit-scrollbar-thumb {
    position: auto;
    border-radius: auto;
    background: auto;
    box-shadow: auto;
    min-height: auto;
  }
}
