<!-- This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HUD</title>
  <link rel="stylesheet" href="third-party/animate.css">
  <link rel="stylesheet" href="https://openlayers.org/en/v4.6.4/css/ol.css" type="text/css">
  <link rel="stylesheet" href="third-party/toastr.min.css">
  {{#if process.env.IS_BROWSER}}
  <!-- jss -->
  <style>
    html, body {
      background-color: #1a1a1a;
    }
  </style>
  {{/if}}
</head>
<body>
  <div id="hud"></div>
  {{#if process.env.ENABLE_SENTRY }}
  <script src=https://cdn.ravenjs.com/3.24.0/raven.min.js crossorigin=anonymous></script>
  <script>
    Raven.config('https://f7710348f19c4a0f8f8cd83ea0aa343f@sentry.io/1259561', {
      release: '0-0-0', // use git revision as release? {{process.env.GIT_REVISION}}
      environment: 'development-test',
    }).install()

    setTimeout(function() {
      Raven.setTagsContext({
        shard: cuAPI.shardID,
      });
      Raven.setUserContext({
        id: cuAPI.characterID,
      });
    }, 1000);
  </script>
  {{/if}}
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
  <script src="third-party/fontawesome.js"></script>

  {{#if process.env.IS_BROWSER}}
  <script src="dev.config.js"></script>
  {{/if}}

  {{#if process.env.IS_CLIENT}}
  <script src="third-party/object-assign-shim.js"></script>
  <script src="third-party/findIndex-polyfill.js"></script>
  {{/if}}

  <script src="third-party/jquery.min.js"></script>
  <script src="third-party/jquery.signalR.min.js"></script>
  <script src="https://openlayers.org/en/v4.6.4/build/ol.js"></script>
  <script src="third-party/toastr.min.js"></script>
</body>
</html>
