/**
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

// font
@import './font';

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'TitilliumWeb'
}

.chat-window {
  position: relative;
  overflow: hidden;
  display: block;
}

#hud {
  width: 100%;
  height: 100%;
  @import './_font.scss';
  .chat-window {
    position: relative;
    overflow: hidden;
    display: block;
  }
  .click-effect {
    &:active {
      color: white;
      -webkit-animation: glow .2s ease-in-out infinite alternate;
      animation: glow .2s ease-in-out infinite alternate;
    }
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #f4d142, 0 0 14px #f4d142, 0 0 16px #f4d142;
    }
    to {
      text-shadow: 0 0 1px #efefef, 0 0 2px #efefef, 0 0 3px #efefef, 0 0 4px #f4d142, 0 0 7px #f4d142, 0 0 8px #f4d142;
    }
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #f4d142, 0 0 14px #f4d142, 0 0 16px #f4d142;
    }
    to {
      text-shadow: 0 0 1px #efefef, 0 0 2px #efefef, 0 0 3px #efefef, 0 0 4px #f4d142, 0 0 7px #f4d142, 0 0 8px #f4d142;
    }
  }

  a {
    text-decoration: none;
    color: darken(#3fd0b0, 10%);
    transition: all 0.3s;
    &:hover {
      color: lighten(#3fd0b0, 10%);
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // components
  @import './components/PlayerStatusComponent/index';
  @import './components/HUD/index';
  @import './components/HUDDrag/index';
  @import './components/Respawn/index';
  @import './components/Compass/index';
  // widgets
  @import './widgets/Crafting/index';
  @import './widgets/PlayerHealth/index';
  @import './widgets/TargetHealth/index';
  @import './widgets/Warband/index';
  @import './widgets/Welcome/index';
  @import './widgets/Social/index';
  // external scss
  @import 'cu-xmpp-chat/lib/index.scss';
}
