/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
 
.channel-select.quickselect-active {
  cursor: pointer !important;
  padding: 0 10px;
  &:hover {
    background-color: lighten($card-bg, 5%);
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
  }
  h5 {
    display: inline-block;
  }
  h5.channel {
    color: $color1;
    font-size: 18px; 
  }
  h5.label {
    color: lighten($color4, 30%);
    padding: 2.5px 0px;
    font-size: 18px;
    margin-right: 3px;
  } 
}

.quickselect-active {
  position: relative;
  cursor: pointer !important;
  &:after {
    content: '';
    background-image: url('../images/dropdown.png');
    background-size: contain;
    position: absolute;
    right: 2.5px;
    bottom: 10px;
    width: 26px;
    height: 14px;
  }
}

.channel-select.quickselect-list {
  padding: 10px;
  background-color: $card-bg;
  color: $color1;
  &:hover {
    background-color: lighten($card-bg, 5%);
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
  }
}
