/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
 
.build-panel__material-replace {
  text-align: center;
   
  .material-view {
    float: none;
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  
  .material-selections
  {
    height:60px;

    .divider {
      display: inline-block;
      height: 60px;
      margin: 5px;
      vertical-align: middle;
      white-space: nowrap;
    }

    .arrow {
      width: 0; 
      height: 0; 
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;  
      border-left: 15px solid #9f9893;
      display: inline-block;
      margin-bottom: -5px;
      
      &:hover {
        -webkit-filter: brightness(130%);
        filter: brightness(130%);
      }
    }

    &.minimized
    {
      height:auto;

      .divider {
        height: 15px;
      }

      .arrow {
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;  
        border-top: 15px solid #9f9893;

        &:hover {
          -webkit-filter: brightness(130%);
          filter: brightness(130%);
        }
      }
    }
  }
}
