/**
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

$cu-styles-root: '../../../interface-lib/@csegames/camelot-unchained/styles/';
@import "@csegames/camelot-unchained/lib/index.scss";
.frame {
  position: relative;
  width: 200px;
  height: 200px;
  pointer-events: all;
  .cu-window-header {
    .title {
      text-align: center;
      width: 100%;
    }
  }
  .respawn__button {
    cursor: pointer !important;
    height: 3em;
    line-height: 3em;
    font-size: 1.2em;
    padding: 0 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
    .distance {
      float: right;
    }
  }
}
