/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

 $cu-styles-root: '../../../interface-lib/camelot-unchained/styles/';
 // @import "../../../node_modules/camelot-unchained/lib/index.scss";

.equippedgear-container {
  pointer-events: all;

  .cu-window-content::before {
    opacity: 0.6;
  }

  .equippedgear-list {
    overflow: auto;
    position: absolute;
    top: 0;
    right: 9px;
    bottom: 8px;
    left: 10px;
    z-index: 2;
    margin: 0;
    padding: 4px 2px 0 5px;
    list-style: none;
  }

  .equippedgear-title {
    margin: 5px 0 0;
    cursor: default;
    text-align: center;
    
    &:first-child {
      margin: 0px;
    }

    &:hover {
      background-color: rgba(0,0,0,0);
    }
  }

  .equippedgear-item {
    position: relative;
    margin: 0;
    padding: 4px 2px 4px 4px;
    text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
    cursor: pointer;
    
    .equippedgear-icon {
      display: inline-block;
      vertical-align: middle;
      margin-top: -1px;
      img {
        display: block;
      }
    }

    .equippedgear-name {
      display: inline-block;
      vertical-align: middle;
      max-width: 190px;
      padding-left: 5px;
      line-height: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 80%;
    }
    
    &:hover {
      background-color: rgba(0,0,0,0.75);
      .equippedgear-tooltip {
        display: block;
      }
    }

    .equippedgear-list--vertical & {
      cursor: pointer;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 10px;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 10px #000;
  }

  .equippedgear-tooltip {
    display: none;
    position: fixed;
    top: 47px; // magic number to place under header
    left: -204px; // allow shadow to fit on left size of rect
    z-index: 100;
    width: 204px;
    padding: 10px;
    border: 1px solid #555;
    background: rgba(0, 0, 0, .75);
    color: #ccc;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .45);
    pointer-events: none;
  }

  .equippedgear-tooltip__title {
    margin: 0 0 3px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
  }

  .equippedgear-tooltip__detail {
    margin: 0 0 4px;
    font-size: 10px;
  }

  .equippedgear-tooltip__meta {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    color: #999;
  }
}
