/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * @Author: JB (jb@codecorsair.com)
 * @Date: 2016-10-28 12:05:21
 * @Last Modified by: JB (jb@codecorsair.com)
 * @Last Modified time: 2017-03-07 15:09:32
 */

.CharacterDeleteModal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
  top: 50%;
  margin: 0 auto;
  position: fixed;
  width: 400px;
  height: 200px;
  margin-left: -200px;
  margin-top: -100px;
  z-index: 999;
  background: linear-gradient(#131313, rgba(16, 16, 16, 0.9));
  padding: 1em;

  input[type=text] {
    margin: 5px 10px;
    background: transparent;
    padding: 15px;
    background: #1A1A1A;
    border: solid 1px #8f8f8f;
    transition: border 0.3s;
    box-shadow: none;
    color: #8f8f8f;
    box-shadow: inset 0px 0px 2px 0px rgba(200,200,200,.1);
    &:focus {
      outline: 0;
      border: solid .5px #3fd0b0;
      box-shadow: none;
    }
  }

  label {
    color: #8f8f8f;
  }
}

.CharacterDeleteModal__title {
  font-size: 2em;
  font-weight: 500;
  color: #3fd0b0;
}

.CharacterDeleteModal__text {
  font-size: .9em;
  font-weight: 200;
  color: #3fd0b0;
}

.CharacterDeleteModal__button {
  margin: 5px;
  padding: 11px;
  color: #ececec;
  background-color: #1a1a1a;
  transition: all 0.3s;
  text-align: center;
  font-size: 1.3em;
  font-weight: 200;
  box-shadow: inset 0px 0px 3px 0px rgba(200,200,200,.1);
  border: 1px solid #1a1a1a;
  cursor: pointer;
  &:hover {
    border: 1px solid #3fd0b0;
    color: #3fd0b0;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 0px 3px 0px rgba(100,100,100,.1);
  }

  &.success {
    color: #3fd0b0;
    border: 1px solid #3fd0b0;
  }

  &.error {
    color: red;
    border: 1px solid red;
  }
}

.ChracterDeleteModal__error {
  color: red;
}

.ChracterDeleteModal__success {
  color: #3fd0b0;
}
