/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.alert {
  background: $gradient-alert1 !important;
  color: $color1 !important;
  text-align: center;
  padding: 2px;
  list-style: none;
  border-width: 2px 0px!important;
  border-image: $gradient-alert1-lt!important;
  border-image-slice: 1!important;
  box-shadow: none;
}

.alert2 {
  background: $gradient-alert2 !important;
  color: $color1 !important;
  text-align: center;
  padding: 2px;
  list-style: none;
  border-width: 2px 0px!important;
  border-image: $gradient-alert2-lt!important;
  border-image-slice: 1!important;
  box-shadow: none;
}