/**
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/
$color-dark: #111111;
$color-light: #efefef;
$border-color: lighten( $color-dark, 25% );
$hover-color: lighten( $color-dark, 10% );

body {
  overflow: hidden;
  cursor: default;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  color: $color-light;
}

.cu-window {
  background-color: rgba($color-dark, 0.25);
}
.cu-window-close {
  font-size: 1.5rem;
  text-shadow: 0 0 5px #000000;
  color: #c4c4c4;
  width: 12px;
  text-align: center;
  line-height: .75em;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 12px;
}

.cu-window-close:before, {
  content: "\00D7";
  position: absolute;
  left: 0;
}

.cu-window-close:hover {
  color: darken($color-light, 30%);
}

.cu-window-close:hover {
  text-shadow: 0 0 5px #6c0c00;
}

.perfhud-select {
  position: relative;
  line-height: 1em;
  border-bottom: 2px solid $border-color;
  background-color: $color-dark;
}

.perfhud-select-item {
  padding: 2px 5px;
  display: inline-block;
  border-right: 2px solid $border-color;
}

.perfhud-select-item:hover {
  background-color: $hover-color;
}

.perfhud-select-item.selected {
  background-color: $border-color;
}

.perfhud-minimize {
  padding: 2px 5px;
  display: inline-block;
  border-right: 2px solid $border-color;
}

.perfhud-minimize:hover {
  background-color: $hover-color;
}

.perfhud-content {
  font-size: 0.8em;
}
