.dev-ui-button {
  cursor: pointer;
  background-color: #555;
  display: inline-block;
  padding: 5px 15px;
  margin: 5px;
  text-align: center;
  &:hover {
    background-color: '#777',
  };
  &:active {
    background-color: '#999',
  };
}

.dev-ui-content {
  flex: 1;
}

.dev-ui-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  color: #ECECEC;
  user-select: none;
  -webkit-user-select: none;
}

.dev-ui-pages {
  flex: 1;
  display: flex;
}

.dev-ui-title {
  font-weight: 700;
  font-size: 1.5em;
  margin: 5px 0;
}

.dev-ui-contentContainerClass {
  height: auto;
}

.dev-ui-contentClass {
  position: relative;
}

.dev-ui-tabPanelClass {
  flex: 1 1 auto;
  width: initial;
  height: initial;
}

.dev-ui-tabClass {
  padding: 2px 10px;
  background: #444;
  border-bottom: 1px solid transparent;
}

.dev-ui-activeTabClass {
  background: #777;
  border-bottom: 1px solid orange;
}

.dev-ui-container {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.dev-ui-closeButtonPosition {
  position: absolute;
  top: 5px;
  right: 5px;
}

.dev-ui-maximizeButton {
  position: absolute;
  right: 50px;
  top: 0px;
  color: #cccccc !important;
  &:hover {
    color: white !important;
  }
}
