/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.blueprint-save-panel {
  background: linear-gradient(#131313, rgba(0, 0, 0, 0.8));
  border: 1px solid #393634;
  width: 200px;
  min-height: 100px;
  position: absolute;
  left: -217px;
  top: 20px;
  padding: 10px;
}

