/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.PlayerStatusComponent__pills {
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
  &.PlayerStatusComponent__pills--flashred {
    // flash animation
    div {
      &:before {
        animation: PlayerStatusComponent__animation__flashred .1s infinite;
        -webkit-animation: PlayerStatusComponent__animation__flashred .1s infinite;
      }
    }
  }
  &.PlayerStatusComponent__pills--flashgreen {
    // flash animation
    div {
      &:before {
        animation: PlayerStatusComponent__animation__flashgreen .1s infinite;
        -webkit-animation: PlayerStatusComponent__animation__flashgreen .1s infinite;
      }
    }
  }
  li {
    display: flex;
    margin: 1px;
    flex: 1 1 auto;
    div {
      position: relative;
      width: 100%;
      border-radius: 2px;
      background-color: #0093e8;
      transition: all .25s linear .1s;
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

.PlayerStatusComponent__pills__textValue {
  color: white;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: none !important;
  -webkit-transform: none !important;
  font-weight: 600;
  font-size: 0.8em;
}

.PlayerStatusComponent__pills__textValue--circle {
  color: white;
  position: fixed;
  top: 75px;
  left: 28px;
  width: 90px;
  height: 18px;
  background-color: #3d3d3d;
  text-align: center;
  transform: none !important;
  -webkit-transform: none !important;
  font-weight: 600;
  font-size: 0.8em;
  z-index: 6;
  border-radius: 10px;
}

.PlayerStatusComponent__pills--vertical {
  flex-direction: column;
}

@keyframes PlayerStatusComponent__animation__flashred {
  0% {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    background-color: inherit;
  }
  50% {
    filter: brightness(500%);
    -webkit-filter: brightness(500%);
    background-color: rgba(255, 0, 0, 0.5);
  }
  100% {
     filter: brightness(100%);
    -webkit-filter: brightness(100%);
    background-color: inherit;
  }
}

@keyframes PlayerStatusComponent__animation__flashgreen {
  0% {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    background-color: inherit;
  }
  50% {
    filter: brightness(500%);
    -webkit-filter: brightness(500%);
    background-color: rgba(0, 255, 0, 0.5);
  }
  100% {
     filter: brightness(100%);
    -webkit-filter: brightness(100%);
    background-color: inherit;
  }
}

@-webkit-keyframes PlayerStatusComponent__animation__flashred {
  0% {
    -webkit-filter: brightness(100%);
    background-color: inherit;
  }
  50% {
    -webkit-filter: brightness(500%);
    background-color: rgba(255, 0, 0, 0.5);
  }
  100% {
    -webkit-filter: brightness(100%);
    background-color: inherit;
  }
}

@-webkit-keyframes PlayerStatusComponent__animation__flashgreen {
  0% {
    -webkit-filter: brightness(100%);
    background-color: inherit;
  }
  50% {
    -webkit-filter: brightness(500%);
    background-color: rgba(0, 255, 0, 0.5);
  }
  100% {
    -webkit-filter: brightness(100%);
    background-color: inherit;
  }
}
