<!-- This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= nameSlug %></title>
  {{#if process.env.IS_BROWSER}}
  <!-- jss -->
  <style>
    html, body {
      background-color: #1a1a1a;
    }
  </style>
  {{/if}}
</head>
<body>
  <div id="<%= nameSlug %>"></div>
</body>
</html>
