/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
@import 'constants';
@import 'font';

#cu-character-creation {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: url(../images/bg.jpg) repeat-x top center fixed;
  background-color: $color2;
  color: white;
  font-family: 'TitilliumWeb', sans-serif;

  em {
    font-family: 'TitilliumWebItalic';
    font-weight: normal;
    font-style: normal;
  }

  strong em {
    font-family: 'TitilliumWebBoldItalic';
    font-weight: normal;
    font-style: normal;
  }

  strong, b {
    font-family: 'TitilliumWebBold';
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }

  ::selection {
    background:  rgb(181, 181, 181);
  }

  h6 {
    color: lighten($color4, 40%);
    padding: 2.5px;
    font-size: 18px;
  }


  ::-webkit-scrollbar {
    width: 15px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: darken($color1, 70%);
    border: 1px solid #4E4E4E;
  }

  a {
    color: #e2e2e2;
  }

  input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input  [type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $colorg4;
    box-shadow: 0 1px 0 0 $colorg4;
  }

  .cu-character-creation {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: url(../images/bg.jpg) repeat-x top center fixed;
    background-color: $color2;
    color: #e2e2e2;
  }

  .cu-character-creation__content {
    height: 100%;
  }

  .cu-btn {
    background: $gradient2, rgba(31, 31, 31, 0.8);
    border: solid $colorg2 1px;
    color: #eaeaea;
    position: relative;
    margin: 0px 25px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 50px;
    font-size: 1.5rem;
    transition: all .2s ease-in-out;
    z-index: 10;
    &:hover {
      filter: brightness(1.2);
      -webkit-filter: brightness(1.2);
    }
    &:active {
      background-color: rgba(255, 200, 100, 0.15);
    }
    &:disabled {
      opacity: .5;

    }
  }

  @import 'preloader';
  @import 'layout';
  @import 'display-images';
  @import 'faction-select';
  @import 'race-select';
  @import 'class-select';
  @import 'attribute-select';
  @import 'navigation';
  @import 'responsive';

  // overlay stuff goes last :)
  .cu-character-creation__faction-select__TDD.active{
    border: none;
    box-shadow: inset 0px -220px 210px -10px $trans-tdd;
    outline: 1px solid rgba(158, 181, 85, 0.6);
    outline-offset: -10px;
    -webkit-filter: brightness(1.2);
    &:before {
      content: '';
      background: linear-gradient(transparent, darken($trans-tdd, 12%));
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
  }

  .cu-character-creation__faction-select__Arthurian.active {
    border: none;
    box-shadow: inset 0px -220px 210px -10px darken($trans-art, 20%);
    outline: 1px solid rgba(199, 73, 68, 0.6);
    outline-offset: -10px;
    &:before {
      content: '';
      background: linear-gradient(transparent, darken($trans-art, 12%));
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
  }

  .cu-character-creation__faction-select__Viking.active {
    border: none;
    box-shadow: inset 0px -220px 210px -10px $trans-vik;
    outline: 1px solid rgba(72, 166, 193, 0.6);
    outline-offset: -10px;
    &:before {
      content: '';
      background: linear-gradient(transparent, darken($trans-vik, 12%));
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
  }

  .active {
    border: none;
    box-shadow: inset 0px -10px 40px 0px rgba(255, 225, 78, 0.58);
    outline: 1px solid rgba(255,225,78,0.50);
    outline-offset: -3px;
    -webkit-filter: brightness(1.4);
    filter: brightness(1.4);
  }

}
.toast {
  background: $gradient-alert1, radial-gradient(at center, rgb(0, 0, 0), transparent 250%);
  text-shadow: 2px 2px black;
  color: $color1 ;
  text-align: center;
  padding: 15px 30px;
  list-style: none;
  box-shadow: none;
  -webkit-filter: grayscale(1) brightness(1.5);
  filter: grayscale(1) brightness(1.5);
  max-width: 300px;
  border: 1px rgba(255, 255, 255, 0.19) solid;
  outline-offset: 1px;
  outline: 5px solid rgba(0, 0, 0, 0.5);
  word-break: normal;
}
