/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.Hero {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  user-select: none !important;
  -webkit-user-select: none !important;
  transition: opacity 2s ease;
}

.Hero--paused {
  opacity: 0;
}

img.archer-vid,
img.hero-vid {
  display: none;
}

.Hero__item {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
}

.Hero__controls {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  margin: auto 0 auto auto;
  width: 60px;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.48), transparent 80%);
  .Hero__controls__item {
    cursor: pointer !important;
    margin: 5px -12px 0px 5px;
    padding: 5px 20px 0px 15px;
    border-width: 1px 1px;
    border-style: solid;
    border-left: 0px;
    border-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.27) 80%);
    -webkit-border-image: -webkit-gradient(to right, transparent, rgba(255, 255, 255, 0.27) 80%);
    border-image-slice: 1;
    background: linear-gradient(to right, transparent, black 80%);
    color: white;
    border-radius: 0;
    font-size: 12px;
    list-style: none;
    height: 30px;
    max-width: 10px;
    float: right;
    transition: all 0.2s ease-in;
    &:hover {
      padding: 5px 20px 0px 25px;
      border-image: linear-gradient(to right, transparent, #d7bb4d 80%);
      -webkit-border-image: -webkit-gradient(to right, transparent, #d7bb4d 80%);
      background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.9) 80%);
      border-image-slice: 1;
      color: #d7bb4d;
    }
  }
  .active {
    color: #d7bb4d;
    border-image: linear-gradient(to right, transparent, #d7bb4d 80%);
    -webkit-border-image: -webkit-gradient(to right, transparent, #d7bb4d 80%);
    border-image-slice: 1;
  }
}
