/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.player-status-bar__pills.Horizontal {
  flex-direction: row;
}

.player-status-bar__pills {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.player-status-bar__pills__pill {
  margin: 1px;
  flex: 1 1 auto;
  display: flex;
  div {
    border-radius: 3px;
    width: 100%;
  }
}
