/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
 
 .action-bar {
   height: 330px;
   position: fixed;
   left: -1px;
   top: calc(50% - 165px);   
   margin: auto;
   
   header {
     font-size: 9px;
     color: #9f9893;
     text-align: right;
     padding: 0px 4px;
     border-width:  1px 1px 0px 1px;
     border-image: linear-gradient(to left, rgba(75, 70, 66, 0.20), rgba(75, 70, 66, 1), rgba(75, 70, 66, 0.20));
     border-image-slice: 1;
     background: linear-gradient( to left, rgb(19,19,19) 0%, rgba(0, 0, 0, 0.85) 100%);
     
     span {
       cursor: pointer;
       width: 25px;
       display: inline-block;
     }
   }
   
   ul {
     list-style: none;
     margin: 0;
     padding: 5px;
     background: linear-gradient(#131313, rgba(0, 0, 0, 0.9));
     border-width: 1px;
     border-image: linear-gradient(to top left, rgba(75, 70, 66, 0.2), #4b4642);
     border-image-slice: 1;
   }
   
   li {
     margin: 2px 0px;
     cursor: pointer;
     text-align: center; 
   }
   
   em {
     margin: 3px;
     padding: 3px;
     font-size: 10px;
     color: #706B67;
     font-style: normal;
   }
   
   .icon {
     fill: #ADA5A0;
     width: 18px;
     height: 18px;
     transition: all .1s ease-in-out;
     &:hover {
       fill: lighten(#ADA5A0, 30%);
     }
   }
 }
 