/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * @Author: JB (jb@codecorsair.com)
 * @Date: 2016-10-27 12:44:49
 * @Last Modified by: JB (jb@codecorsair.com)
 * @Last Modified time: 2016-10-31 11:04:27
 */

.WindowHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 100;
  display: flex;
  flex-direction: row-reverse;
  background-color: rgba(0, 0, 0, 0.2);
  user-select: none !important;
  -webkit-user-select: none !important;

  a {
    margin: 2px 5px;
  }
}
