.dev-ui-button {
  cursor: pointer;
  background-color: #555;
  display: inline-block;
  padding: 5px 15px;
  margin: 5px;
  text-align: center;
  &:hover {
    background-color: '#777',
  };
  &:active {
    background-color: '#999',
  };
}