<!-- This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Camelot Unchained</title>
  <link rel="stylesheet" href="third-party/animate.css">
  <link rel="stylesheet" href="third-party/simptip.min.css">
  <link rel="stylesheet" href="third-party/toastr.min.css">
  <link rel="stylesheet" href='third-party/introjs-rtl.min.css'>
  <link rel="stylesheet" href='third-party/introjs.min.css'>
  <link rel="stylesheet" href="third-party/fontawesome-all.min.css">
</head>
<body>
  <div id="Patcher"></div>
  <script src="dev.config.js"></script>
  <script src='third-party/jquery.min.js'></script>
  <script src="third-party/parallax.min.js"></script>
  <script src='third-party/particles.min.js'></script>
  <script src='third-party/intro.min.js'></script>
  <script src="third-party/jquery.signalR.js"></script>
  <script src="third-party/toastr.min.js"></script>
</body>
</html>
