/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

// old
@import './sass/main';

// NEW
@import './sass/constants';
@import './sass/mixins';
@import './sass/shapes';
@import './sass/titilliumweb';
@import './sass/animations';

@import './_cu_icons';
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: url('../font/Lato/Lato-Regular.ttf') format('truetype'),
}

html,body, #Patcher {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url(../images/bg.png) repeat-x top center fixed;
  background-color: $color2;
  color: $color4;
  font-family: 'Lato', sans-serif;
}

.introjs-overlay {
  pointer-events: none !important;
}

.help-highlight {
  background-color: rgba(255,255,255,0.2) !important;
  pointer-events: none !important;
}

.help-tooltip {
  direction: ltr !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #56473C, #9A846F, #5D4C40);
  border: 1px solid rgba(255, 216, 180, 0.12);
}

::-webkit-input-placeholder {
  color: #8f8f8f;
}

h4 {
  margin: 0;
}

.flex-right {
  margin-left: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-vcenter {
  justify-content: center;
}

.flex-stretch {
  flex: 1 0 auto;
}

.flex-fill {
  flex: 1 1 auto;
}

input {
  color: $color1;
}

.no-select {
  user-select: none !important;
  -webkit-user-select: none !important;
}
.allow-select {
  user-select: all !important;
  -webkit-user-select: all !important;
}
.allow-select-text {
  user-select: text !important;
  -webkit-user-select: text !important;
}

@font-face {
  font-family: 'Caudex';
  font-style: normal;
  font-weight: normal;
  src: url('../font/Caudex/Caudex-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../font/material-design-icons/icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.hidden {
  display: none;
}

.no-select {
  user-select: none !important;
  -webkit-user-select: none !important;
}

.card-panel {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.quickselect-default {
  background-color: transparent;
  margin: 0;
  display: none;
  min-width: 100%;
  max-height: 200px;
  overflow-y: auto;
  opacity: 1;
  position: absolute;
  z-index: 999;
  width: 100%;
  user-select: none !important;
  -webkit-user-select: none !important;
  cursor: pointer !important;
  -webkit-box-shadow: 0px 17px 17px -4px rgba(0,0,0,0.70);
  -moz-box-shadow: 0px 17px 17px -4px rgba(0,0,0,0.70);
  box-shadow: 0px 17px 17px -4px rgba(0,0,0,0.70);
}

.cse-ui-scroller-grey::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.cse-ui-scroller-grey::-webkit-scrollbar-track {
  box-shadow: none;
  background: none;
  background: transparent;
}

.cse-ui-scroller-grey::-webkit-scrollbar-thumb:vertical {
  border: 35px solid #404040;
  border-width: 35px 4px 35px 4px;
  border-image: url(../images/scrollbar-thumb-ends.png);
  border-image-slice: 35 4 35 4;
  min-height: 100px;
  box-shadow: none;
  background: none;
}



.cse-ui-scroller-brown::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.cse-ui-scroller-brown::-webkit-scrollbar-track {
  box-shadow: none;
  background: none;
  background: transparent;
}

.cse-ui-scroller-brown::-webkit-scrollbar-thumb:vertical {
  border: 35px solid #404040;
  border-width: 35px 4px 35px 4px;
  border-image: url(../images/scrollbar-thumb-ends-brown.png);
  border-image-slice: 35 4 35 4;
  min-height: 100px;
  box-shadow: none;
  background: none;
}

.quickselect-auto-width {
  width: 100%;
}

.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.333%;
}

.col-1-4 {
  width: 25%;
}

.col-1-5 {
  width: 20%;
}

.col-1-6 {
  width: 16.666%;
}

// img {
//   zoom: 65%;
// }

::selection {
  background:  rgb(181, 181, 181);
}

.toast {
  background: #681d19;
  color: white ;
  text-align: center;
  padding: 15px 30px;
  list-style: none;
  box-shadow: none;
  max-width: 300px;
  border-radius: 0px;
  box-shadow: 0 0 12px #000;
  outline-offset: -5px;
  outline: 1px solid rgba(255, 95, 95, 0.521);
  word-break: normal;
}

@import './sass/modaldialog';

// components
@import './components/WindowHeader/index';
@import './components/Header/index';
@import './components/App/index';
@import './components/CUHero/index';
@import './components/QuickSelect/index';
@import './components/OverlayView/index';

// widgets
@import './widgets/CharacterCreation/index';
