/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.blueprints__list {
  
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: .8em;
  
  ul {
    background: #131313;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    padding: 0px 10px;
    background: #131313;
    transition: all 0.1s ease-in-out;

    &:hover {
      -webkit-filter: brightness(1.5);
    }
    
    &.active {
      background-color: rgba(100,100,255,0.3);
    }
  }

  .icon {
    position: relative;
    display: block;
    overflow: hidden;
    width: 60px;
    height: 50px;
  }

  .label {
    position: relative;
    display: block;
    width: 60px;
    text-align: center;
    font-size: .8em;
  }

}
