/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.cu-character-creation__navigation {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  padding: 50px 0 20px 0;
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.50));
}

.cu-character-creation__name {
  position: absolute;
  bottom: 75px;
  padding: 40px;
  width: calc(100% - 280px);
  right: 0;
  z-index: 2;
  opacity: .7;
  transition: opacity .2s ease-in-out;
  &:focus, &:hover{
      opacity: 1;
  }

  input {
    width: 300px;
    display: block;
    margin: auto;
    background: radial-gradient( at bottom, rgba(0, 0, 0, 0.8) ,transparent 70%);
    padding: 0px 10px;
    text-align: center;


  }
}