/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.preloader{
  background: url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/luchorpan-m.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/luchorpan-f.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_luchorpan-m.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_luchorpan-f.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/pict-m.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/pict-f.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_pict-m.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_pict-f.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/valkyrie-m.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/valkyrie-f.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_valkyrie-m.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_valkyrie-f.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/humans-m-vik.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/humans-f-vik.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-m-vik.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-f-vik.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/humans-m-tdd.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/humans-f-tdd.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-m-tdd.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-f-tdd.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/humans-m-art.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/humans-f-art.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-m-art.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-f-art.png') no-repeat -9999px -9999px,

  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/empath.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/black-knight.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/fianna.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/mjolnir.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/physician.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/stonehealer.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/blackguard.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/forest-stalker.png') no-repeat -9999px -9999px,
  url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/winters-shadow.png') no-repeat -9999px -9999px

  ;
}