// General Colors
$BarBackgroundBlue: #1d2c54;
$BarBackgroundGreen: #002e0b;
$BarBackgroundOrange: #1b1b1b;
$BarBackgroundRed: #3e0000;
$BossRed: #e00004;
$BuxBlue: #54c4e8;
$CharacterModTeal: #80fdfd;
$DownedRed: #ff0000;
$EightyPercentOpacityBlack: rgba(0, 0, 0, 0.8);
$ErrorRed: #ff3300;
$FiftyPercentBlack: rgba(0, 0, 0, 0.5);
$HealthGreen: #44ae68;
$HighlightBlue: #85d2ff;
$HighlightPurple: #4444a2;
$KillerRed: #bf3838;
$LabelPaleBlue: #b7b9ff;
$LeaderAndPrimaryYellow: #f9cd05;
$MainOrange: #ffb000;
$MenuGrey: #3d3d3d;
$MenuScrollBarThumbGrey: #4f4f4f;
$ModalBackground: #1d1d44;
$ModalBackgroundDark: #0e1124;
$ModalHighlight: #4444a2;
$ModalText: #b2b2d4;
$MutedRed: #ff514f;
$ProgressRedOrange: #ff6224;
$RageOrange: #ec7b20;
$ReviveGreen: #00f27e;
$ShieldBlue: #318eff;
$StoreBackgroundDarkNavy: #0e1124;
$StoreLightBlue: #00d1ff;
$StoreNavy: #4442a2;
$StorePowderBlue: #a5efff;
$VoiceActiveGreen: #28ff00;
