/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

body {
  overflow: hidden;
  cursor: default;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  color: white;
}

#cse-ui-wounds {

  position: relative;
  width: 150px;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid rgba(255,255,255,0.1);
  padding: 10px;
  padding-bottom: 5px;

  /* Paper Doll Styles */
  .doll {
    margin-top: 20px;
    width: 150px;
    height: 115px;
    position: relative;
    .part {
      border: 0;
      position: absolute;
      top: 0;
      margin-left: 50%;
      left: -41px;
      width: 82px;
      height: 98px;
      background: transparent;
      opacity: 0.85;
    }
    .label {
      position: absolute;
      z-index: 1;
      height: 12px;
      width: 48px;
      font-size: 10px;
      text-align: center;
    }
    .label.part-0 {
      top: -7px;
      margin-left: 50%;
      left: -24px;
    }
    .label.part-1 {
      top: 10px;
      margin-left: 50%;
      left: -60px;
    }
    .label.part-2 {
      top: 10px;
      margin-left: 50%;
      left: 12px;
    }
    .label.part-3 {
      top: 35px;
      margin-left: 50%;
      left: -55px;
    }
    .label.part-4 {
      top: 90px;
      margin-left: 50%;
      left: -50px;
    }
    .label.part-5 {
      top: 90px;
      margin-left: 50%;
      left: 2px;
    }
  }

  /* Buff/Debuff styles */
  .buffs {
    position: absolute;
    height: 85px;
    top: 40px;
    display: none;
  }

  .buffs .icon {
    width: 16px;
    height: 16px;
    display: block;
    margin-bottom: 4px;
  }

  .buffs.boon {
    left: 10px;
  }
  .buffs.bane {
    right: 10px;
  }

  /* Statistics Styles */
  .stats {
    width: 150px;
    opacity: 0.85;

    .stat {
      position: relative;
      height: 16px;

      label {
        position: absolute;
        display: block;
        width: 30%;
        font-size: 10px;
        height: 10px;
        margin-top: 2px;
        font-weight: bold;
      }
      .bar, .fill {
        position: absolute;
        height: 6px;
      }
      .bar {
        left: 30%;
        width: 70%;
        margin-top: 5px;
        margin-left: 1%;
      }
    }

    .blood {
      label { color: #fe1f16; }
      .bar { background-color: #400000; }
      .fill { background-color: #fe1f16; }
    }
    .stamina {
      label { color: #f6ca06; }
      .bar { background-color: #3d2b00; }
      .fill { background-color: #f6ca06; }
    }
    .panic {
      label { color: #fd6000; }
      .bar { background-color: #411900; }
      .fill { background-color: #fd6000; }
      display: none;
    }
    .temp {
      label { color: white; }
      .bar { background-color: #fe1f16; }
      .fill { background-color: #12a2ff; }
      display: none;
    }
  }
}
