/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.Header {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  height: 75px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
  user-select: none !important;
  -webkit-user-select: none !important;
}

.Header__logo {
  
}

.Header__menu {
  display: flex;
  color: #ececec;

}

.Header__menu__item {
  padding: 10px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  &:hover {
   color: #3fd0b0;
  }

  &.active {
   color: #7aeee2;
  }
}

$glow-highlight: #3fd0b0;
$glow-text: white;

@keyframes glowStart {
  from {
    text-shadow: 0;
  }

  to {
    text-shadow: 0 0 2px $glow-text, 0 0 4px $glow-highlight, 0 0 7px $glow-highlight, 0 0 8px $glow-highlight, 0 0 10px $glow-highlight, 0 0 15px $glow-highlight;
  }
}

@-webkit-keyframes glowStart {
  from {
    text-shadow: 0;
  }

  to {
    text-shadow: 0 0 2px $glow-text, 0 0 4px $glow-highlight, 0 0 7px $glow-highlight, 0 0 8px $glow-highlight, 0 0 10px $glow-highlight, 0 0 15px $glow-highlight;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 2px $glow-text, 0 0 4px $glow-highlight, 0 0 7px $glow-highlight, 0 0 8px $glow-highlight, 0 0 10px $glow-highlight, 0 0 15px $glow-highlight;
  }
  to {
    text-shadow: 0 0 4px $glow-text, 0 0 8px $glow-highlight, 0 0 10px $glow-highlight, 0 0 12px $glow-highlight, 0 0 15px $glow-highlight, 0 0 22px $glow-highlight;
  }
}


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 2px $glow-text, 0 0 4px $glow-highlight, 0 0 7px $glow-highlight, 0 0 8px $glow-highlight, 0 0 10px $glow-highlight, 0 0 15px $glow-highlight;
  }
  to {
    text-shadow: 0 0 4px $glow-text, 0 0 8px $glow-highlight, 0 0 10px $glow-highlight, 0 0 12px $glow-highlight, 0 0 15px $glow-highlight, 0 0 22px $glow-highlight;
  }
}
