/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
.player-status-bar {
  position: relative;
  -webkit-user-select: none !important;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.player-status-bar--background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: rgba(0, 0, 0, 0.75);
}

// Columns

.player-status-bar__blood-and-stam {
  flex: 1 1 auto;
  padding-top: 18px;
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player-status-bar__blood-and-stam.left {
  padding-left: 125px;
}

.player-status-bar__blood-and-stam.right {
  padding-right: 125px;
}

.player-status-bar__blood-and-stam.mini {
  padding-left: 36px;
  padding-top: 2px;
  height: 70%;
}

.player-status-bar__blood-and-stam.mini-party {
  padding-left: 1px;
  padding-top: 1px;
  height: 70%;
}

.player-status-bar__column {
  position: relative;
  flex: 1 1 50%;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.player-status-bar__label {
  color: white;
  text-align: center;
  font-size: .8em;
}

.player-status-bar__panic-bar {
  background: linear-gradient( to left, #f6b900, #530000);
  position: relative;
  top: 2px;
  margin: 2px;
  border: 1px solid #6F5400;
  position: relative;
  flex: 1 1 auto;
}

.player-status-bar__indicator {
  width: 0;
  border: 1px solid white;
  height: calc(100% + 4px);
  position: absolute;
  top: -2px;
}

.player-status-bar__temp-bar {
  background: linear-gradient( to right, #1192e4, #793b79, #DF000B);
  position: relative;
  top: 2px;
  margin: 2px;
  border: 1px solid #3E3E3E;
  flex: 1 1 auto;
}

// BODY PARTS

.player-status-bar__body-parts {
  position: absolute;
  top: 34%;
  width: 152px;
  height: 146px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player-status-bar__body-parts.right {
  right: 0;
}

.player-status-bar__body-parts.left {
  left: 0;
}

.player-status-bar__body-parts.mini {
  left: 24%;
  top: 66%;
  width: 75%;
  height: 75px;
}

.player-status-bar__body-parts.mini-party {
  left: 0;
  top: 66%;
  width: 100%;
  height: 75px;
}

.player-status-bar__body-parts__label {
  color: white;
  font-size: .8em;
  text-align: center;
  margin-bottom: 8px;
}

.player-status-bar__body-parts__label.mini {
  margin-bottom: 0;
}

.player-status-bar__body-parts__label.mini-party {
  margin-bottom: 0;
}

.player-status-bar__body-parts__part {
  flex: 1 1 16.6667%;
  display: flex;
  flex-direction: column;
}

.player-status-bar__body-parts__pills {
  li {
    margin: 1px 3px;
  }
}

.player-status-bar__body-parts__pill--left {
  transform: skewY(20deg);
}

.player-status-bar__body-parts__pill--right {
  transform: skewY(-20deg);
}



// Portrait

.player-status-bar__portrait.mini {
  position: absolute;
  left: -40px;
  top: -15px;
  width: 75px;
  height: 75px;
}

.player-status-bar__portrait.left {
  position: absolute;
  left: 23px;
}

.player-status-bar__portrait.right {
  position: absolute;
  right: 23px;
}

// Class Icon
.player-status-bar__class {
  position: absolute;
  height: 13%;
  width: 6%;
  top: 20%;
}

.player-status-bar__class.mini {
  position: absolute;
  height: 15px;
  width: 15px;
  top: -35%;
  left: 100%;
}

.player-status-bar__class.left {
  left: -3%;
}

.player-status-bar__class.right {
  right: -3%;
}

// Name
.player-status-bar__name {
  color: white;
  position: absolute;
  margin: 2px;
  top: -8px;
}

.player-status-bar__name.left {
  left: 110px;;
}

.player-status-bar__name.mini-party {
  top: -1.5em;
}

.player-status-bar__name.mini {
  top: -1.5em;
  left: 40px;
}

// Active Effects
.PlayerStatusBar__ActiveEffects {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 37%;
  top: 33%;
  flex-wrap: wrap;
  max-width: 100%;
}

.PlayerStatusBar__ActiveEffects.mini {
  flex-direction: column;
  left: 100%;
  top: 0;
  margin-left: 1px;
  flex-wrap: wrap;
  max-height: 200%;
}

.PlayerStatusBar__ActiveEffects.party {
  flex-direction: row;
  left: 55%;
  margin-left: 2px;
  flex-wrap: wrap;
  max-height: 75%;
}

.PlayerStatusBar__ActiveEffects.right {
  flex-direction: row;
  left: 0;
  margin-left: 2px;
  flex-wrap: wrap;
  max-height: 50%;
  max-width: 60%;
}

.PlayerStatusBar__ActiveEffects__Icon {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(240, 3, 255, 0.25);
  margin: 1px;
  img {
    height: 100%;
    width: 100%;
  }
}

.PlayerStatusBar__ActiveEffects__Icon.mini {
  width: 20px;
  height: 20px;
}

@import './components/PlayerPhoto/index';
@import './components/Pills/index';
