/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */



@mixin selection-thumbnail($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 50px;
  height: 45px;
  margin: 2.5px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: all .2s ease-in-out;
  &:hover {
    border: 1px solid rgba(255,225,78,0.50);
  }
  &:active {
    border: 1px solid rgba(255,225,78,0.80);
  }
}

.selection-thumb {
  @include selection-thumbnail('../images/temp.jpg');
}

@mixin view-standing($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
  position: absolute;
  left: 100px;
}

.standing {
  @include view-standing('../images/temp.jpg');
}

