/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.cu-character-creation__faction-select {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.cu-character-creation__faction-select h4{
  text-align: center;
  font-size: 1.9rem;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Caudex';
  z-index: 6;
  position: relative;
}

@mixin faction-select-realm($bg_url) {
  background-image: url($bg_url);
  background-size: cover;
  position: relative;
  video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -3;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }
  overflow: hidden;
  transition: all .3s ease-in-out;
  flex-grow: 1;
  outline: 0px solid rgba(255, 255, 255, 0.0);
  outline-offset: -10px;
  display: inline;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  cursor: pointer !important;
  z-index: 1;
}



@mixin faction-select__shield($shield_url) {
  background-image: url($shield_url);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 200px;
  cursor: pointer !important;
  margin: auto;
}

@mixin faction-select__description() {
  opacity: 0;
    //transition: width .2s ease-in-out, opacity .2s ease-in-out;
    margin: auto;
    width: 0px;
    color: #e2e2e2;
    -webkit-user-select: none;
    cursor: pointer !important;
    box-shadow: 0px 0px 50px 40px rgba(0,0,0,0.43);
    background: rgba(0,0,0,0.43);
    z-index: 5;
    position: relative;
}

.cu-character-creation__faction-select__TDD {
  @include faction-select-realm('../images/tdd-bg.png');

  .cu-character-creation__faction-select__TDD__shield {
    @include faction-select__shield('../images/tdd-shield.png');
  }
  .cu-character-creation__faction-select__TDD__description {
    @include faction-select__description();
  }
  &:hover {
    flex-grow: 3;
    padding-top: 5%;
    .cu-character-creation__faction-select__TDD__description {
      opacity: 1;
      width: 400px;
      margin: auto;
      transition: opacity .3s ease-out .3s;
    }
  }
}

.cu-character-creation__faction-select__Arthurian {
  @include faction-select-realm('../images/arthurian-bg.png');
  .cu-character-creation__faction-select__Arthurian__shield {
    @include faction-select__shield('../images/arthurian-shield.png');
  }
  .cu-character-creation__faction-select__Arthurian__description {
    @include faction-select__description();
  }
  &:hover {
    flex-grow: 3;
    padding-top: 5%;
    .cu-character-creation__faction-select__Arthurian__description {
      opacity: 1;
      width: 400px;
      margin: auto;
      transition: opacity .3s ease-out .3s;
    }
  }
}

.cu-character-creation__faction-select__Viking {
  @include faction-select-realm('../images/viking-bg.png');
  .cu-character-creation__faction-select__Viking__shield {
    @include faction-select__shield('../images/viking-shield.png');
  }
  .cu-character-creation__faction-select__Viking__description {
    @include faction-select__description();
  }
  &:hover {
    flex-grow: 3;
    padding-top: 5%;
    .cu-character-creation__faction-select__Viking__description {
      opacity: 1;
      width: 400px;
      margin: auto;
      transition: opacity .3s ease-out .3s;
    }
  }
}
