/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.PlayerHealth__bar {
  width: 415px;
  height: 248.3px;
}

.PlayerHealth__bar--mini {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  width: 150px;
  height: 60px;
}