@import '../shared/components/color-code-styles.scss';

.LoadingScreen-Container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  background-size: 100% 100%;
  background-repeat: 'no-repeat';
}

.LoadingScreen-ScenarioBackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.LoadingScreen-Champions {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 110vmin;
  position: absolute;
  top: 10vmin;
  left: 0;
  right: 0;
  margin: 0 auto;
  @media (max-aspect-ratio: 4 / 3) {
    width: 90vmin;
  }
}

.LoadingScreen-ChampionsCentered {
  justify-content: center;
}

.LoadingScreen-Champion {
  margin-bottom: 2vmin;
  margin-left: 2vmin;
  margin-right: 2vmin;
  width: 23.5vmin;
  @media (max-aspect-ratio: 4 / 3) {
    width: 18.5vmin;
  }
}

.LoadingScreen-ChampionPortrait {
  position: relative;
  width: 100%;
}

.LoadingScreen-ChampionPortraitImage {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 29.5vmin;
  @media (max-aspect-ratio: 4 / 3) {
    height: 23.125vmin;
  }
}

.LoadingScreen-ChampionPortraitShadow {
  background: linear-gradient(to bottom, transparent 0%, transparent 70%, rgba(0, 0, 0, 0.747) 100%);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.LoadingScreen-ChampionPortraitName {
  font-family: Colus;
  line-height: 1;
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 2rem;
  padding: 1vmin;
}

.LoadingScreen-ChampionName {
  font-family: Lato;
  display: block;
  line-height: 1;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.75vmin;
  text-align: center;
  background-color: #101326;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - 1.5vmin);
}

.LoadingScreen-Logo {
  position: fixed;
  left: 5.55vmin;
  bottom: 2.95vmin;
  width: 23.35vmin;
  height: 6.1vmin;
  background-image: url('../images/fullscreen/loadingscreen/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.LoadingScreen-LoadingTextPosition {
  position: fixed;
  right: 1.85vmin;
  bottom: 0.926vmin;
  display: flex;
  align-items: center;
}

.LoadingScreen-Text {
  width: fit-content;
  text-align: right;
  font-size: 1.35rem;
  color: white;
  font-family: Lato;
  font-weight: bold;
  margin-right: 2.778vmin;
  max-width: 28.7vmin;
}

.LoadingScreen-HintContainer {
  min-height: 9.25vmin;
  min-width: 45.55vmin;
  max-width: 55.55vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url('../images/hud/backgrounds/BlackBackground80.png');
  background-repeat: repeat;
  outline-offset: -0.45vmin;
  outline: 1px solid rgba(72, 72, 72, 1);
  position: absolute;
  bottom: 2.778vmin;
  left: 50%;
  transform: translate(-50%, 0%);
}

.LoadingScreen-HintText {
  position: relative;
  font-size: 1.35rem;
  color: white;
  font-family: Lato;
  margin-right: 2vmin;
  margin-left: 2vmin;
}

.LoadingScreen-Sprite {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 9.25vmin;
  height: 9.25vmin;
}
