/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * @Author: JB (jb@codecorsair.com)
 * @Date: 2016-10-19 16:50:10
 * @Last Modified by: JB (jb@codecorsair.com)
 * @Last Modified time: 2016-11-01 14:46:23
 */

.Login {
  padding: 5px;
  margin-top: -10px;
  display: flex;
  input[type=email], input[type=password] {
    margin: 5px 10px;
    background: #1A1A1A;
    padding: 5px;
    border: solid 1px #8f8f8f;
    transition: border 0.3s;
    box-shadow: none;
    color: #8f8f8f;
    font-size: 1.1em;
    box-shadow: inset 0px 0px 2px 0px rgba(200,200,200,.1);
    &:focus {
      outline: 0;
      border: solid .5px #3fd0b0;
      box-shadow: none;
    }
  }

  label {
    margin-left: 10px;
    color: #8f8f8f;
    cursor: pointer !important;
  }

  ::-webkit-input-placeholder {
   color: rgba(200, 200, 200, 0.2);
  }

  a {
    margin: -5px 0 0 10px;
    text-decoration: none;
    color: darken(#3fd0b0, 10%);
    transition: all 0.3s;
    font-size: 0.9em;
    display: block;
    text-align: left;
    &:hover {
      color: lighten(#3fd0b0, 10%);
    }
  }

  .flex-column {
    width: 250px;
  }
}

.Login__rememberMe {
  flex: none;
  text-align: left;
  margin: -4px 0 0 10px;
}

.Login__button {
  margin: 5px;
  padding: 11px;
  color: #ececec;
  background-color: #00a08f;
  transition: all 0.3s;
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: inset 0px 0px 3px 0px rgba(200,200,200,.1);
  border: 1px solid lighten(#00a08f, 10%);
  cursor: pointer;
  user-select: none !important;
  -webkit-user-select: none !important;
  &:hover {
    border: 1px solid lighten(#00a08f, 25%);
    //color: #3fd0b0;
    background-color: lighten(#00a08f, 10%);
  }

  &:focus {
    outline: 0;
  }

  &.disabled {
    cursor: not-allowed;
    color: #2D2D2D;
    background-color: darken(#00a08f, 10%);
    border: 1px solid darken(#00a08f, 25%);
    box-shadow: inset 0px 0px 3px 0px rgba(100,100,100,.1);
  }

  &.success {
    color: #3fd0b0;
    border: 1px solid #3fd0b0;
  }

  &.error {
    color: red;
    border: 1px solid red;
  }
}

.wave-text {
  i {
    font-style: normal;
    animation: waveText 1s infinite ease-in alternate;
    -webkit-animation: waveText 1s infinite ease-in alternate;
  }

  @for $i from 0 through 9 {
    i:nth-child(#{$i}) {
      animation-delay: 0.1s * $i;
      -webkit-animation-delay: 0.1s * $i;
    }
  }
}

@-webkit-keyframes waveText {
  0% {
    opacity: .3;
    color: #ececec;
  }
  80% {
    opacity: 1;
    color: #3fd0b0;
  }
  100% {
    opacity: 1;
    color: #3fd0b0;
    font-size: 1.1em;
  }
}

@keyframes waveText {
  0% {
    opacity: .3;
    color: #ececec;
  }
  80% {
    opacity: 1;
    color: #3fd0b0;
  }
  100% {
    opacity: 1;
    color: #3fd0b0;
    font-size: 1.1em;
  }
}
