/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */


.player-status-bar__player-photo {
  width: 100px;
  height: 100px;
  border: 1px solid #717171;
  border-radius: 100%;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 50%,grey 100%);
  overflow: hidden;
  img {
    width: 100%;
  }
}
