@font-face {
  font-family: 'fs-icons';
  src:  url('../font/fs-icons/fs-icons.eot?6n9u6k');
  src:  url('../font/fs-icons/fs-icons.eot?6n9u6k#iefix') format('embedded-opentype'),
    url('../font/fs-icons/fs-icons.ttf?6n9u6k') format('truetype'),
    url('../font/fs-icons/fs-icons.woff?6n9u6k') format('woff'),
    url('../font/fs-icons/fs-icons.svg?6n9u6k#fs-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fs-icon-"], [class*=" fs-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fs-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fs-icon-amazon-bow-strike:before {
  content: "\e90a";
}
.fs-icon-misc-time:before {
  content: "\e92e";
}
.fs-icon-misc-enemy:before {
  content: "\e92f";
}
.fs-icon-misc-kills:before {
  content: "\e930";
}
.fs-icon-point-mana-pool-c:before {
  content: "\e91f";
}
.fs-icon-point-mana-pool-d:before {
  content: "\e920";
}
.fs-icon-point-mana-pool-e:before {
  content: "\e921";
}
.fs-icon-point-tower-a:before {
  content: "\e922";
}
.fs-icon-point-tower-b:before {
  content: "\e923";
}
.fs-icon-point-tower-c:before {
  content: "\e924";
}
.fs-icon-point-tower-d:before {
  content: "\e925";
}
.fs-icon-point-tower-e:before {
  content: "\e926";
}
.fs-icon-point-health-pool-a:before {
  content: "\e927";
}
.fs-icon-point-health-pool-b:before {
  content: "\e928";
}
.fs-icon-point-health-pool-c:before {
  content: "\e929";
}
.fs-icon-point-health-pool-d:before {
  content: "\e92a";
}
.fs-icon-point-health-pool-e:before {
  content: "\e92b";
}
.fs-icon-point-mana-pool-a:before {
  content: "\e92c";
}
.fs-icon-point-mana-pool-b:before {
  content: "\e92d";
}
.fs-icon-rune-damage:before {
  content: "\e91c";
}
.fs-icon-rune-health:before {
  content: "\e91d";
}
.fs-icon-rune-barrier:before {
  content: "\e91e";
}
.fs-icon-knight-long-jump:before {
  content: "\e916";
}
.fs-icon-knight-retaliate:before {
  content: "\e917";
}
.fs-icon-knight-shield-bash:before {
  content: "\e918";
}
.fs-icon-knight-crusader-strike:before {
  content: "\e919";
}
.fs-icon-knight-fortify:before {
  content: "\e91a";
}
.fs-icon-knight-guard:before {
  content: "\e91b";
}
.fs-icon-celt-inspire:before {
  content: "\e910";
}
.fs-icon-celt-jump-attack:before {
  content: "\e911";
}
.fs-icon-celt-rally:before {
  content: "\e912";
}
.fs-icon-celt-spear-throw:before {
  content: "\e913";
}
.fs-icon-celt-spear-thrust:before {
  content: "\e914";
}
.fs-icon-celt-call-to-arms:before {
  content: "\e915";
}
.fs-icon-point-mana-pool:before {
  content: "\e90d";
}
.fs-icon-point-health-pool:before {
  content: "\e90e";
}
.fs-icon-point-tower:before {
  content: "\e90f";
}
.fs-icon-amazon-fire-arrow:before {
  content: "\e907";
}
.fs-icon-amazon-fire-storm:before {
  content: "\e908";
}
.fs-icon-amazon-heartseeker:before {
  content: "\e909";
}
.fs-icon-amazon-double-jump:before {
  content: "\e90b";
}
.fs-icon-amazon-fearless-scream:before {
  content: "\e90c";
}
.fs-icon-berserker-enrage:before {
  content: "\e901";
}
.fs-icon-berserker-frozen-wrath:before {
  content: "\e902";
}
.fs-icon-berserker-ground-slam:before {
  content: "\e903";
}
.fs-icon-berserker-hack:before {
  content: "\e904";
}
.fs-icon-berserker-heroic-leap:before {
  content: "\e905";
}
.fs-icon-berserker-slash:before {
  content: "\e906";
}
.fs-icon-trap-explosive:before {
  content: "\e900";
}
