/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

#hud, .HUD {
  width: 100%;
  height: 100%;
}

.drag-button {
  position: fixed;
  left: 0;
  top: 0;
}

.drag-handle {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.25);
  border: 5px solid rgba(255, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
}

.drag-handle.hidden {
  display: none;
}

.react-draggable {
  display: inline-block;
  position: absolute;
}

.HUD__toggle {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 67px;
  height: 61px;
}

.HUD__toggle--locked {
  background: url('../images/ui-locked.jpg');
}

.HUD__toggle--unlocked {
  background: url('../images/ui-unlocked.jpg');
}
