/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * @Author: Mehuge (mehuge@sorcerer.co.uk)
 * @Date: 2017-05-03 20:46:48
 * @Last Modified by: Mehuge (mehuge@sorcerer.co.uk)
 * @Last Modified time: 2017-05-20 18:32:58
 */

.crafting-ui {
  @import './components/Select/index';

  background-color: rgba(0,0,0,0.7);
  background-image: url('../images/crafting/crafting-bg.png');
  color: white;
  width: 600px;
  height: 450px;
  overflow: hidden;
  span.prompt {
    display: inline-block;
    flex: 0 0 auto;
    margin-right: 5px;
  }
  button, input {
    pointer-events: auto;
    margin-right: 5px;
  }
  button {
    font-size: 12px;
    min-width: 45px;
  }

  input {
    width: auto;    /* TODO: WTF IS THE GAME CLIENT PLAYING AT */
    height: 24px;
    margin: 0;
    padding: 0 5px;
    border: 0;
    color: white;
    background-color: rgba(40,40,40,0.5);
  }

  /* layout */
  display: flex;
  flex-direction: column;
  >.job-type {
    flex: 0 1 auto;
    height: 35px;
    margin: 10px;
    margin-bottom: 0;
    >.job-buttons {
      display: inline-block;
      button.selected {
        font-weight: bold;
        color: green;
      }
      >.refresh {
        min-width: 20px;
      }
    }
    >.tools {
      float: right;
    }
  }
  >.vox-message {
    margin: 0px 10px;
    height: 20px;
    flex: 0 1 auto;
    font-size: 14px;
    overflow: hidden;
    &.success {
      color: lime;
    }
    &.error {
      color: red;
    }
  }
  >.loading {
    flex: 1 1 auto;
    text-align: center;
    line-height: 100%;
  }
  >.crafting-tools {
    flex: 1 1 auto;
    line-height: 100%;
    padding: 1em;
    >.coming-soon {
      text-align: center;
    }
    h1 {
      margin-top: 1em;
      font-size: 100%;
      border-bottom: 1px solid rgba(255,255,255,0.2);
    }
  }
  >.job-details {
    flex: 1 1 auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    >.job-properties {
      display: block;
      flex: 0 1 auto;
      >.name-input, >.select-recipe, >.select-template {
        height: 24px;
        margin-bottom: 1px;
        display: flex;
        flex-direction: row;
        span.prompt {
          min-width: 160px;
        }
        .Select {
          flex: 0 0 auto;
          min-width: 200px;
          height: 24px;
          .Select__impl {
            background-color: rgba(40,40,40,0.5);
          }
          .Select__listView {
            max-height: 175px;
          }
        }
      }
    }
    >.job-ingredients {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      >.loaded-ingredients {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        >div {
          >.ingredient {
            flex: 0 1 auto;
            display: flex;
            flex-direction: row;
            >* {
              display: 'inline-block';
            }
            >.qty {
              flex: 0 0 30px;
              width: 30px;
              text-align: right;
            }
            >.times {
              flex: 0 0 auto;
              margin: 0 0.5em;
            }
            >.name {
              flex: 1 1 auto;
              min-width: 120px;
            }
          }
        }
        >button {
          flex: 0 1 auto;
          font-size: 10px;
          color: deepskyblue;
        }
      }
      >.add-ingredient {
        flex: 0 1 auto;
        display: flex;
        >.Select {
          flex: 1 1 auto;
          min-width: 250px;
          height: 24px;
          .Select__impl {
            background-color: rgba(40,40,40,0.5);
          }
          .Select__listView {
            max-height: 175px;
          }
        }
        >.times {
          flex: 0 1 auto;
          margin: 0 0.5em;
        }
        >button.add {
          flex: 0 1 150px;
          margin: 0 0 0 1em;
        }
        .inventory-item {
          width: 100%;
          display: flex;
          flex-direction: row;
          >span {
            display: inline-block;
            overflow: hidden;
          }
          >.name {
            flex: 1 1 60%;
          }
          >.quantity {
            flex: 1 1 20%;
            text-align: right;
          }
          >.quality {
            flex: 1 1 20%;
            text-align: right;
          }
        }
      }
      >.ingredients-title {
        flex: 0 1 auto;
        font-size: 100%;
        margin-top: 5px;
      }
      >.loaded-ingredients {
        flex: 1 1 auto;
        overflow: auto;
        overflow-x: hidden;
        pointer-events: auto;
        margin-bottom: 0.5em;
      }
    }
    >.job-buttons {
      flex: 0 1 auto;
      display: flex;
      flex-direction: row;
      >.quality-input, >.count-input {
        height: 24px;
        flex: 0 0 auto;
        margin-right: 10px;
        input {
          text-align: right;
        }
      }
      button {
        flex: 0 0 auto;
        margin: 0 0 0 5px;
        padding: 0 1em;
        height: 24px;
      }
    }
  }
  .vox-info {
    font-size: 8px;
    color: silver;
    margin: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    >span {
      margin-right: 1em;
    }
  }
}
