/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
 
.material-view {
  float: left;
  position: relative;
  width: 75px;
  height: 75px;
  background-color: darkgrey;
  margin: 5px;
  border: 1px solid rgba(74, 69, 65, 0.5);
  cursor: pointer;
  
  img {
    height: 100%;
    width: 100%;
  }
  
  .icon-bg {
    border-radius: 20px;
    background-color: black;
    position: absolute;
    left: 2px;
    bottom: 2px;
    width: 18px;
    height: 18px;
  }
  
  .edit-icon {
    position: relative;
    left: 2.5px;
    top: -5.5px;
    width: 10px;
    height: 10px;
    fill: white;
  }
}