/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.character-select.quickselect-active {
  -webkit-user-select: none !important;
  cursor: pointer !important;
  padding: 2px 7px;
  &:hover {
    background-color: $color4;
  }
  h5 {
    margin: 0.41rem 0 0.328rem 0;
    -webkit-user-select: none !important;
  }
  h5.character {
    color: $color1;
  }
  h5.label {
    color: lighten($color4, 20%);
    padding: 2.5px;
    font-size: 18px;
  }
}

.character-select.quickselect-list {
  padding: 2.5px;
  background-color: $color4;
  color: $color1;
  cursor: pointer !important;
  &:hover {
    background-color: $color4;
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
  }
  h5 {
    font-size: 16px;
    margin: 2px 0px;
    -webkit-user-select: none !important;
  }
  h6 {
    font-size: 14px;
    margin: 2px 0px;
    -webkit-user-select: none !important;
  }
  .character-status {
    .indicator {
      top: -10px !important;
    }
  }
}

.character-status {
  position: relative;
  width: 30px;
  height: 10px;
  .indicator {
    @include circle(10px);
    position: absolute;
    top: -25px;
  }
  display: inline-block;
  margin: 5px;
}

.character-details {
  display: inline-block;
  color: $color1;
}

.character-select.quickselect-active {
  .character-details {
    width: 240px;
    overflow: hidden;
  }
}

.character-lastlogin {
  display: inline-block;
  color: #b7b7b7;
  font-size: .75em;
}

.character:before {
    background: no-repeat;
    background-size: contain;
    content: '';
    position: absolute;
    margin-top: 2px;
    left: 7px;
    width: 30px;
    height: 26px;
    z-index: 1;
}

.char-PICT-MALE:before {
  background-image: url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_pict-m.png');
  border: 1px $colorA solid;
}
.char-PICT-FEMALE:before {
  background-image: url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_pict-f.png');
  border: 1px $colorA solid;
}

.char-LUCHORPAN-MALE:before {
  background-image: url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_luchorpan-m.png');
  border: 1px $colorT solid;
}

.char-LUCHORPAN-FEMALE:before {
  background-image: url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_luchorpan-f.png');
  border: 1px $colorT solid;
}

.char-VALKYRIE-MALE:before {
  background-image: url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_valkyrie-m.png');
  border: 1px $colorV solid;
}

.char-VALKYRIE-FEMALE:before {
  background-image: url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_valkyrie-f.png');
  border: 1px $colorV solid;
}

.char-HUMANMALEV-MALE:before {
  background-image: url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-m-vik.png');
  border: 1px $colorV solid;
}

.char-HUMANMALEA-MALE:before {
  background-image: url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-m-art.png');
  border: 1px $colorA solid;
}

.char-HUMANMALET-MALE:before {
  background-image: url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-m-tdd.png');
  border: 1px $colorT solid;
}

.char-HUMANMALEV-FEMALE:before {
  background-image: url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-f-vik.png');
  border: 1px $colorV solid;
}

.char-HUMANMALEA-FEMALE:before {
  background-image: url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-f-art.png');
  border: 1px $colorA solid;
}

.char-HUMANMALET-FEMALE:before {
  background-image: url('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-f-tdd.png');
  border: 1px $colorT solid;
}

.character-buttons {
  button {
    background: $gradient2;
    border: solid $colorg2 1px;
    color: #eaeaea;
    position: relative;
    text-align: center;
    height: 30px;
    width: 135px;
    margin: 5px 7px 10px 7px;
    font-weight: 700;
    font-size: 16px;
    &[disabled]{
      opacity: .5;
    }
    &:hover {
      filter: brightness(1.2);
      -webkit-filter: brightness(1.2);
    }
  }
}

.character-select-none {
  color: #464646;
  padding: 2.5px;
  font-size: 18px;
  padding-left: 7.5px;
}
