/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

#cse-patcher-news {
    
  .loadmore {
    margin-bottom: 40px;
  }
  
  .cse-patcher-news-item {
    display: inline-block;
    margin-bottom: 8px;
    width: calc(100% - 4px);
    overflow: hidden;
    text-align: left;
    margin: 4px;
  }
  
  a {
      color: $colorg4;
      &:hover{
          color: lighten($colorg4, 50%);
      }
  }
  .card {
    overflow: hidden;
    position: relative;
    background-color: $color4;
    padding: 0px;
    margin: 0.5rem 0.7rem 0rem 0;
    height: 300px;
    cursor: pointer !important;
    
    img {
      zoom: 100%; //remove later
      position: absolute;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transition: all .5s ease-in-out;
    }
    
    .card-content {
      position: absolute;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 35px 20px 15px 15px;
      bottom: -180px;
      height: 100%;
      transition: all .3s ease-in-out;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.9) 80%);
      
      .card-title {
        font-size: 20px !important;
        line-height: 20px !important;
        height: 75px;
      }
      
      p {
        margin-top: 25px;
        opacity: 0;
        transition: all .3s ease-in-out .2s;
        }
    }
    
    &:hover {
      img {
        transform: scale(1.1);
        transform: translateY(1.1);
        filter: brightness(0.8);
      }
      
      .card-content {
        bottom: -90px;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.9) 80%);
        p {
          opacity: 1;
        }
      }
    }
    
    
  }
  
  
  
  .card-reveal {
    overflow: hidden;
    height: 60%;

  }
  ul li {
    list-style-type: inherit;
    margin-bottom: 15px;
  }
  
  .material-icons {
    position: absolute;
    right: 30px;
    top: 15px;
    display: block;
    width: 20px;
    overflow: hidden;
    background: url("../images/news-close.png") no-repeat center center;
    background-size: contain;
    color: transparent;
  }
  
  .date {
    font-size: 12px;
  }
  
  
  
  .front-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card-reveal {
    background-color: $color4;
  }
  
  figure {
    margin: 0;
    overflow: hidden;
  }
  
  figcaption {
    margin-top: 15px;
  }
  
  @media screen and (min-width: 1300px) {
  .cse-patcher-news-item  {
      width: calc(33.33% - 8px);
    }
  }
  
  @media screen and (min-width: 900px) and (max-width: 1299px) {
  .cse-patcher-news-item  {
      width: calc(50% - 8px);
    }
  }
  
  .full-page {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 16;
    overflow: hidden;
    background-color: rgba($color: $color2, $alpha: 0.5);
    
    .article-content {
      position: relative;
      background-color: $color4;
      overflow-y: auto;
      overflow-x: hidden;
      margin: 75px 0px 0px 330px;
      height: calc(100% - 70px);
      color: $color6;
      
      .content-container {
        min-width: 40%;
        max-width: 600px;
        margin: auto;
        
        img {
            height: auto;
            max-width:100%;
        }
      }
    }
    
    .material-icons {
      cursor: pointer;
      position: fixed;
      top: 90px;
    }
    
    .card-title {
      font-size: 24px;
    }
  }
}



