/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.ServerList_container {
  position: absolute;
  left: 300px;
  top: 0px;
  width: 300px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: -1;
  .server-select {
    cursor: pointer !important;
    padding: 2px 7px;
    &:hover {
      background-color: $color4;
      -webkit-filter: brightness(1.2);
      filter: brightness(1.2);
    }
  }
}

.server-selected {
  cursor: pointer !important;
  padding: 2px 7px;
  h5 {
    margin: 0 0 0 0;
    -webkit-user-select: none !important;
  }
  h5.label {
      color: lighten($color4, 20%);
      padding: 2.5px 0px 2.5px 0px;
      font-size: 18px;
    }
  &:hover {
    background-color: $color4;
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
  }
}

.server-select {
  margin: 0.41rem 0 0.328rem 0;

  color: $color1;

  h5 {
    margin: 0 0 0 0;
    -webkit-user-select: none !important;
  }
  h5.server {
    color: $color1;
    font-size: 20px;
  }
  .server-players {
    display: inline-block;
    color: #b7b7b7;
    font-size: .9em;
  }
}

.server-status {
  position: relative;
  width: 10px;
  height: 10px;
  .indicator {
    @include circle(10px);
    position: absolute;
    top: 4px;
  }
  display: inline-block;
  margin: 5px;
}

.server-details {
  display: inline-block;
  color: $color1;
  max-width: calc(100% - 20px);
}

.online {
  background-color: mediumspringgreen;
}

.offline {
  background-color: red;
}