/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@import '../../../shared/widgets/CharacterCreation/sass/character-creation';

@import 'constants';
@import 'mixins';
@import 'shapes';

html,body, #app {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: url(../images/bg.png) repeat-x top center fixed;
  background-color: $color2;
  color: $color4;
}

::-webkit-scrollbar {
  width: 15px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: darken($color1, 70%);
  border: 1px solid #4E4E4E;
}

h4 {
  margin: 0;
}

.flex-right {
  margin-left: auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-vcenter {
  justify-content: center;
}

.flex-stretch {
  flex: 1 0 auto;
}

.flex-fill {
  flex: 1 1 auto;
}

#PatcherApp {
  display: flex;
  flex-flow: column;
  height: 100%;
}

input {
  color: $color1;
}

.no-select {
  -webkit-user-select: none;
}
.allow-select {
  -webkit-user-select: all;
}
.allow-select-text {
  -webkit-user-select: text;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../font/material-design-icons/icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.no-select {
  -webkit-user-select: none;
}

.card-panel {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.quickselect-default {
  background-color: transparent;
  margin: 0;
  display: none;
  min-width: 100%;
  max-height: 200px;
  overflow-y: auto;
  opacity: 1;
  position: absolute;
  z-index: 999;
  width: 100%;
  -webkit-user-select: none !important;
  cursor: pointer !important;
  -webkit-box-shadow: 0px 17px 17px -4px rgba(0,0,0,0.70);
  -moz-box-shadow: 0px 17px 17px -4px rgba(0,0,0,0.70);
  box-shadow: 0px 17px 17px -4px rgba(0,0,0,0.70);
}

.quickselect-auto-width {
  width: 100%;
}

img{
    zoom: 65%;
}

::selection {
    background:  rgb(181, 181, 181);
}

@import 'modaldialog';
@import 'header';
@import 'sidebar';
@import 'hero';
@import 'channelselect';
@import 'serverselect';
@import 'characterselect';
@import 'content';
@import 'footer';
@import 'chat';
@import 'news';
@import 'patchbutton';
@import 'login';
@import 'alerts';
@import 'font';
