/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.blueprints__list {
  
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: .8em;
  
  ul {
    background: #131313;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    padding: 0px 10px;
    background: #131313;
    transition: all 0.1s ease-in-out;
    &:hover {
      -webkit-filter: brightness(1.5);
    }
    &.active {
      background-color: rgba(100,100,255,0.3);
    }
  }

}

.icon {
  position: relative;
  display: block;
  overflow: hidden;
  width: 60px;
  height: 50px;
}

.label {
  position: relative;
  display: block;
  width: 60px;
  text-align: center;
  font-size: .8em;
}

.BlueprintsPane {
  position: relative;
  padding: 5px;
}

button {
  display: inline-block;
  margin: 5px 5px 0px 0px;
  min-width: 70px;
  border: 1px solid #4b4642;
  color: #756c67;
  background: linear-gradient(to top, black, #2C2C2C);
  box-shadow: inset black 0px 0px 20px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  -webkit-filter: brightness(0.8);
  transition: all 0.2s ease-in-out;
  &[disabled] {
    color: #4b4642;
    background: #2C2C2C;
    box-shadow: none;
  }  
  &:hover {
    &:not([disabled]) {
      -webkit-filter: brightness(1.2);
    }
  }
  &:focus {
    outline: none;
  }
  &:active {
    -webkit-filter: brightness(.8)
  }
}

.blueprint-preview-panel {
  background: linear-gradient(#131313, rgba(0, 0, 0, 0.8));
  border: 1px solid #393634;
  width: 100px;
  min-height: 100px;
  position: absolute;
  left: -117px;
  top: 20px;
  padding: 10px;
  img {
    width: 100%;
    height: 100%;
  }
}
