/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.cu-color-yellow {
  color: $color-yellow;
}

.cu-color-yellow-dark {
  color: $color-yellow-dark;
}

.cu-color-yellow-light {
  color: $color-yellow-light;
}

.cu-color-red {
  color: $color-red;
}

.cu-color-red-dark {
  color: $color-red-dark;
}

.cu-color-red-light {
  color: $color-red-light;
}

.cu-color-blue {
  color: $color-blue;
}

.cu-color-blue-dark {
  color: $color-blue-dark;
}

.cu-color-blue-light {
  color: $color-blue-light;
}

.cu-color-green {
  color: $color-green;
}

.cu-color-green-dark {
  color: $color-green-dark;
}

.cu-color-green-light {
  color: $color-green-light;
}

.cu-color-brown {
  color: $color-brown;
}

.cu-color-brown-dark {
  color: $color-brown-dark;
}

.cu-color-brown-light {
  color: $color-brown-light;
}

.cu-color-dark {
  color: $color-dark;
}

.cu-color-gray {
  color: $color-gray;
}

.cu-color-light {
  color: $color-light;
}
