/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * @Author: JB (jb@codecorsair.com)
 * @Date: 2016-10-26 18:31:30
 * @Last Modified by: JB (jb@codecorsair.com)
 * @Last Modified time: 2016-10-31 16:21:55
 */

.ProgressBar {
  flex: 1 1 auto;
  display: flex;
  margin: -7px -5px 2px -5px;
  label {
    color: #8f8f8f;
    margin: 0px 5px;
    font-size: 0.8em;
  }
}

.ProgressBar__bar__fill {
  height: 7px;
  transition: all 0.5s linear;
}

.ProgressBar__bar {
  flex: 1 1 auto;
  margin: 5px;
  background: rgba(97, 97, 97, 0.25);
  box-shadow: inset 0px 0px 3px 0px rgba(244, 244, 244, 0.25);
}

.ProgressBar__bar__fill--working {
  background: linear-gradient(to right, #0e7c6a, #1bc2ba);
  border: 1px solid #1fd9d0;
}

.ProgressBar__bar__fill--complete {
  background-color: #128074;
}

.ProgressBar__bar__fill--error {
  background-color: #a41515;
  border: 1px solid #a41515;
}

.ProgressBar__pause {
  color: #ececec;
  cursor: pointer;
  user-select: none !important;
  -webkit-user-select: none !important;
  margin: 0 5px;
  &:hover {
    color: #3fd0b0;
  }
}

.ProgressBar__settings {
  color: #ececec;
  cursor: pointer;
  user-select: none !important;
  -webkit-user-select: none !important;
  margin: 0 5px;
  &:hover {
    color: #3fd0b0;
  }
}

.ProgressBar__settings--hidden {
  display: none;
}
