/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

#chat-window {
  position: fixed;
  top: 22px;
  left: 0;
  width: 100%;
  bottom: 0px;
  display: block;
  z-index: 16;
}

#chat-window.chat-hidden {
  display: none;
}
#chat-window.chat-visible {
  display: block;
}
