/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.main-content {
  position: fixed;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  height: 100%;
}

.content-area {
  margin: 80px 0px 0px 330px;
  color: white;
  overflow-y: auto;
  height: calc(100% - 60px);
  ul {
      margin:0;
  }
}
