/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

#Footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: $footer-height;
}
