/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

#cse-patcher-hero {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.cse-patcher-hero-item {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

.hero-controls {
  z-index: 10;
  margin: auto 0 auto auto;
  width: 50px;
  li {
    opacity: 0.5;
    cursor: pointer !important;
    margin: 5px -12px 0px 5px;
    padding: 5px 25px 0px 9px;
    border: 1px solid rgba(255, 255, 255, 0.27);
    background: black;
    color: white;
    border-radius: 0;
    font-size: 12px;
    list-style: none;
    height: 30px;
    width: 40px;
    float: right;
    transition: all 0.2s ease-in;
    &:hover {
      opacity: 0.75;
      padding: 5px 35px 0px 9px;
      border-color: $chat-line-emoji-color;
      color: $chat-line-emoji-color;
    }
  }
  .active {
    color: $colorg4;
    border-color: $colorg4;
  }
}

.hidden {
  display: none;
}
