/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/* Shared Dialog Styles */
.modal-dialog {
  left: 50%;
  top: 50%;
  margin: 0 auto;
  position: fixed;
  width: 400px;
  height: 200px;
  margin-left: -200px;
  margin-top: -100px;
  z-index: 999;
  background: $gradient-modal;
  padding: 1em;
  ::-webkit-input-placeholder {
    color: #776329;
  }
  button {
    background: $gradient2;
    border: solid $colorg2 1px;
    color: #eaeaea;
    position: relative;
    top: 9px;
    margin: 5px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    &[disabled] {
      opacity: 0.5;
    }
    &:hover {
      filter: brightness(1.2);
      -webkit-filter: brightness(1.2);
    }
  }
}

.fullscreen-blackout {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.85);
}
