/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

#cse-patcher-patch-button {
  position: relative;
  height: 60px;
  width: 290px;
  margin: 0px 0px 10px 0px;
  font-size: 21px;

  .layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .z1 {
    z-index: 6;
  }

  .z2 {
    z-index: 7;
  }

  .z3 {
    z-index: 8;
  }

  .fill {
    background: $colorg4;
    height: 5px;
    margin: 5px;
  }

  .text {
    -webkit-user-select: none;
    cursor: default !important;
    position: relative;
    height: 60px;
    margin: 5px 10px;
  }

  .progress-text {
    height: 14px;
  }

  .header {
    font-weight: 700;
    color: $color3;
    font-size: 10px;
  }

  .body {
    color: $colorg4;
    font-size: 10px;
  }

  .install-download-btn {
    width: 290px;
    margin: 5px;
    height: 60px;
    line-height: 60px;
    font-weight: 700;
  }

  .uninstalled {
    background: $gradient2;
    border: solid $colorg2 1px;
    color: $color1;
    &:hover {
      filter: brightness(1.2);
      -webkit-filter: brightness(1.2);
    }
  }

  .installing {
    background-color: $color4;
    color: lighten($color4, 30%);
  }

  .downloading {
    background: $color4;
    color: $color1;
    &:hover {
      background-color: lighten($color4, 5%);
    }
  }

  .ready {
    background: $gradient4;
    border: solid $colorg4 1px;
    color: $colorg4;
    &:hover {
      filter: brightness(1.2);
      -webkit-filter: brightness(1.2);
    }
  }

  .not-ready {
    background: $gradient2;
    border: solid $colorg2 1px;
    color: $colorg2;
  }

  .launching {
    background-color: $color4;
    color: $color1;
    &:hover {
      background-color: lighten($color4, 5%);
    }
  }

  .update {
    background-color: $color3;
    color: $color1;
    &:hover {
      background-color: lighten($color3, 5%);
    }
  }
}

.uninstall-link {
  display: block;
  text-align: center;
  color: #848484;
  margin: 5px;
  cursor: pointer !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.euala-modal {
  position: relative;
  min-width: 75%;
  margin: 75px auto;
  iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    bottom: 100px;
    min-height: 100%;
    min-width: 100%;
    background-color: white;
    overflow: auto;
  }
  .accept {
    position: absolute;
    bottom: -30px;
  }
  .decline {
    position: absolute;
    bottom: -30px;
    left: 80px;
  }
}

.cu-patcher-ui__character-creation {
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 325px;
  overflow: hidden;
}
