/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

$BaneBarPrimary: linear-gradient(to right, rgb(255, 66, 66), rgb(121, 10, 0));
$BanePrimary: #e85143;
$BoonBarPrimary: linear-gradient(to right, rgb(65, 172, 233), rgb(124, 230, 241));
$BoonPrimary: #41ace9;
$ClassTrait: #8d6cab;
$FactionTrait: #d63c32;
$LightGray: rgba(99, 98, 98, 0.3);
$ModalAccent: rgb(255, 95, 76);
$ModalHighlightStrong: rgba(255, 95, 76, 0.7);
$ModalHighlightWeak: rgba(255, 95, 76, 0.1);
$NewsColor: rgba(236, 119, 127, 1);
$RaceTrait: #ffdb86;
$Success: rgb(232, 227, 167);
$SuccessBar: linear-gradient(to right, rgb(232, 227, 167), rgb(220, 203, 143));
$TransparentBG: rgba(0, 0, 0, 0.3);
$TransparentBane: rgba(232, 81, 67, 0.3);
$TransparentBoon: rgba(65, 172, 233, 0.3);
$TransparentSuccess: rgba(172, 224, 172, 0.3);
