/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

// https://coolors.co/app/000000-191919-ffbf1e-eaeaea-dd4b4b
$color2: #000000; //rgba(0, 0, 0, 100)
$color4: #131313; //rgba(25, 25, 25, 100)
$color5: #a9c513; //rgba(255, 191, 30, 100)
$color1: #eaeaea; //rgba(234, 234, 234, 100)
$color3: #dd4b4b; //rgba(221, 75, 75, 100)
$color6: #DADADA; //
$colorg2: #b0a49b;//border color
$colorg3: #a9c513;//border color
$colorg4: #FFE14E;//border color
$colorA: #7B1D00;//border color
$colorT: #1B5F00;//border color
$colorV: #124d66;//border color
$gradient: linear-gradient( #131313, rgba(0,0,0,0.4));//interface bg
$gradient-modal: linear-gradient( #131313, rgba(16, 16, 16 ,0.9));//modal bg
$gradient-border: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(132, 132, 132, 0.32) , rgba(0, 0, 0, 0));
$gradient-border-modal: linear-gradient(to bottom left, rgba(255, 201, 80, 0.58), $colorg4 , rgba(255, 201, 80, 0.58));
$gradient2: linear-gradient( rgba(173, 169, 162, 0.2), rgba(115, 94, 94, 0.2));//button colors
$gradient3: linear-gradient( rgba(221, 234, 25, 0.2), rgba(34, 102, 4, 0.2));//play now
$gradient4: linear-gradient(rgba(255,209,24,0.20), rgba(189,174,0,0.20));//sign in
$gradient-bar1: linear-gradient( to bottom left, #a9c513, #a9c513);//downloading
$gradient-alert1:linear-gradient( to left,rgba(0, 0, 0, 0), #870090, rgba(0, 0, 0, 0));
$gradient-alert1-lt:linear-gradient(to left, rgba(0, 0, 0, 0), #F33CFF , rgba(0, 0, 0, 0));//alert border
$gradient-alert2:linear-gradient( to left,rgba(0, 0, 0, 0), #004aa4, rgba(0, 0, 0, 0));
$gradient-alert2-lt:linear-gradient(to left, rgba(0, 0, 0, 0), #136bd6 , rgba(0, 0, 0, 0));//alert border
$gradient-drag:linear-gradient(to right,rgba(0,0,0,0.65) ,rgba(0,0,0,0.15) 50%,rgba(0,0,0,0.65) ), linear-gradient(to bottom,rgba(38,38,38,1) 0%,rgba(63,63,63,1) 27%,rgba(102,102,102,1) 50%,rgb(0, 0, 0) 51%,rgba(51,51,51,1) 51%,rgba(30,30,30,1) 76%,rgba(0,0,0,1) 100%);
$gradient-nav:linear-gradient(to left, black, transparent, black), linear-gradient(to bottom, transparent, rgba(66, 66, 66, 0.75) 100%);

// Global
$padding-size: 5px;
$margin-size: 10px;

// Header
$header-height: 75px;
$header-text-color: $color1;

// Content

// Sidebar
$sidebar-content-width: 200px;

// Footer
$footer-height: 30px;

// Chat
// Chat Text Colours
$chat-line-system-color: #0f0;
$chat-line-entry-color: yellow;
$chat-line-exit-color: #888;
$chat-line-message-color: white;
$chat-line-nick-color: peachpuff;
$chat-info-selected-bgc: rgba(0,0,0,0.5);
$chat-line-message-link-color: $colorg4;
$chat-line-message-link-hover-color: $color1;
$chat-line-timestamp-color: #ccc;
$chat-line-emoji-color: #ffcc00;
$chat-line-action-color: #00ff00;

$sidebar-bg: $gradient;
$card-bg: $color2;
$sidebar-bg-solid: $gradient;
