/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.QuickSelect {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #4a4a4a;
  box-shadow: inset 0px 0px 3px 0px rgba(200,200,200,.1);
}

.QuickSelect__outside {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.01);
  z-index: -1;
}

.QuickSelect__outside--hidden {
  visibility: hidden;
}

.QuickSelect--left {
  flex-direction: row-reverse;
}

.QuickSelect__activeView {
  flex: 1 1 auto;
  color: #ececec;
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.QuickSelect__listView {
  min-width: 100%;
  position: absolute;
  bottom: 100%;
  left: 0px;
  color: #ececec;
  background-color: #4a4a4a;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 420px;
  transition: max-height .5s ease-out;
}

.QuickSelect__listItem {
  position: relative;
  overflow: hidden;
  color: #ececec;
  border-bottom: 1px solid #0a0a0a;
  &:hover {
    background-color: lighten(#4a4a4a, 10%);
  }
}

.QuickSelect__listItem--selected {
  background:#5F5F5F;
}

.QuickSelect__listView--hidden {
  max-height: 0px;
}

.QuickSelect__arrow {
  padding: 10px;
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: center;
  color: rgba(150, 150, 150, 0.7);
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
