.gitattributes text eol=lf
.gitignore text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.css text eol=lf
*.map text eol=lf
*.scss text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.html text eol=lf
*.ui text eol=lf
*.json text eol=lf
