/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.HUDDrag {

}

.HUDDrag__controls {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  user-select: none !important;
  -webkit-user-drag: none !important;
  border: 2px dashed rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.HUDDrag__controlsSelected {
  @keyframes pulseBorder {
    0%,100% {
      box-shadow: 0px 0px 0px 3px rgba(145, 116, 58, 1);
    }
    50% {
      box-shadow: 0px 0px 0px 3px rgba(145, 116, 58, 0.4);
    }
  }
  @-webkit-keyframes pulseBorder {
    0%,100% {
      box-shadow: 0px 0px 0px 3px rgba(145, 116, 58, 1);
    }
    50% {
      box-shadow: 0px 0px 0px 3px rgba(145, 116, 58, 0.4);
    }
  }
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  user-select: none !important;
  -webkit-user-drag: none !important;
  pointer-events: all;
  -webkit-animation: pulseBorder 2s infinite ease-in-out;
}

.HUDDrag__controls__name {
  background: rgba(75, 75, 75, 0.8);
  color: white;
  padding: 2px 5px;
}

.HUDDrag__controls__nameSelected {
  @keyframes pulseBackground {
    0%,100% {
      background: rgba(145, 116, 58, 1);
    }
    50% {
      background: rgba(145, 116, 58, 0.4);
    }
  }
  @-webkit-keyframes pulseBackground {
    0%,100% {
      background: rgba(145, 116, 58, 1);
    }
    50% {
      background: rgba(145, 116, 58, 0.4);
    }
  }
  color: white;
  padding: 2px 5px;
  -webkit-animation: pulseBackground 2s infinite ease-in-out;
}

.HUDDrag__controls__dragHandle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: move !important;
}

.HUDDrag__controls__resizeXHandle {
  position: absolute;
  width: 10px;
  height: 100%;
  cursor: ew-resize !important;
  margin: -20px 0px 0px 0px;
  top: 20px;
}

.HUDDrag__controls__resizeXHandle--left {
  left: -5px;
}

.HUDDrag__controls__resizeXHandle--right {
  right: -5px;
}

.HUDDrag__controls__resizeYHandle {
  position: absolute;
  width: 100%;
  height: 10px;
  cursor: ns-resize !important;
  margin: -20px 0px 0px 0px;
}

.HUDDrag__controls__resizeYHandle--top {
  top: 15px;
}

.HUDDrag__controls__resizeYHandle--bottom {
  bottom: -5px;
}

.HUDDrag__controls__resizeXYHandle {
  position: absolute;
  width: 10px;
  height: 10px;
  cursor: nwse-resize !important;
  margin: -20px 0px 0px 0px;
  bottom: -5px;
  right: -5px;
}
