/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * @Author: Andrew L. Jackson (jacksonal300@gmail.com)
 * @Date: 2017-03-28 17:01:24
 * @Last Modified by: Andrew L. Jackson (jacksonal300@gmail.com)
 * @Last Modified time: 2017-03-28 17:01:24
 */

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#messages {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 350px;
}

.message {
  font-size: 90%;
  color: white;
  margin: 0 0 3px 0;
  padding: 0;
  height: 22px;
  line-height: 22px;
  text-align: center;
  background-image: url('../images/alert-bg.png');
  background-repeat: no-repeat;
}
