@font-face {
  font-family: 'cu-icons';
  src:  url('../font/cu-icons.eot?smmhl1');
  src:  url('../font/cu-icons.eot?smmhl1#iefix') format('embedded-opentype'),
    url('../font/cu-icons.ttf?smmhl1') format('truetype'),
    url('../font/cu-icons.woff?smmhl1') format('woff'),
    url('../font/cu-icons.svg?smmhl1#cu-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cu-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bottom-pad:before {
  content: "\e980";
}
.icon-joy-l:before {
  content: "\e981";
}
.icon-joy-r:before {
  content: "\e982";
}
.icon-left-pad:before {
  content: "\e983";
}
.icon-ps-chat:before {
  content: "\e984";
}
.icon-ps-circle:before {
  content: "\e985";
}
.icon-ps-l1:before {
  content: "\e986";
}
.icon-ps-l2:before {
  content: "\e987";
}
.icon-ps-l3:before {
  content: "\e988";
}
.icon-ps-menu:before {
  content: "\e989";
}
.icon-ps-r1:before {
  content: "\e98a";
}
.icon-ps-r2:before {
  content: "\e98b";
}
.icon-ps-r3:before {
  content: "\e98c";
}
.icon-ps-sqaure:before {
  content: "\e98d";
}
.icon-ps-triangle:before {
  content: "\e98e";
}
.icon-ps-x:before {
  content: "\e98f";
}
.icon-right-pad:before {
  content: "\e990";
}
.icon-top-pad:before {
  content: "\e991";
}
.icon-xb-a:before {
  content: "\e992";
}
.icon-xb-b:before {
  content: "\e993";
}
.icon-xb-lb:before {
  content: "\e994";
}
.icon-xb-l-down:before {
  content: "\e995";
}
.icon-xb-lt:before {
  content: "\e996";
}
.icon-xb-manage:before {
  content: "\e997";
}
.icon-xb-menu:before {
  content: "\e998";
}
.icon-xb-rb:before {
  content: "\e999";
}
.icon-xb-r-down:before {
  content: "\e99a";
}
.icon-xb-rt:before {
  content: "\e99b";
}
.icon-xb-x:before {
  content: "\e99c";
}
.icon-xb-y:before {
  content: "\e99d";
}
.icon-flip-x:before {
  content: "\e979";
}
.icon-flip-y:before {
  content: "\e97a";
}
.icon-move-x:before {
  content: "\e97b";
}
.icon-move-y:before {
  content: "\e97c";
}
.icon-random:before {
  content: "\e97d";
}
.icon-resize:before {
  content: "\e97e";
}
.icon-rotate:before {
  content: "\e97f";
}
.icon-search:before {
  content: "\e978";
}
.icon-shout-tab:before {
  content: "\e975";
}
.icon-thrown-tab:before {
  content: "\e976";
}
.icon-misc-tab:before {
  content: "\e977";
}
.icon-people:before {
  content: "\e974";
}
.icon-erase:before {
  content: "\e966";
}
.icon-hat:before {
  content: "\e967";
}
.icon-horse:before {
  content: "\e968";
}
.icon-mine:before {
  content: "\e969";
}
.icon-pin:before {
  content: "\e96a";
}
.icon-plot:before {
  content: "\e96b";
}
.icon-road:before {
  content: "\e96c";
}
.icon-ship:before {
  content: "\e96d";
}
.icon-shovel:before {
  content: "\e96e";
}
.icon-tannery:before {
  content: "\e96f";
}
.icon-target:before {
  content: "\e970";
}
.icon-icon-unpin:before {
  content: "\e971";
}
.icon-icon-axe:before {
  content: "\e972";
}
.icon-draw:before {
  content: "\e973";
}
.icon-spellbook-tab:before {
  content: "\62";
}
.icon-sword-tab:before {
  content: "\73";
}
.icon-bow-arrow-tab:before {
  content: "\61";
}
.icon-components-tab:before {
  content: "\63";
}
.icon-magic-tab:before {
  content: "\6d";
}
.icon-guild:before {
  content: "\e960";
}
.icon-history:before {
  content: "\e961";
}
.icon-management:before {
  content: "\e962";
}
.icon-metrics:before {
  content: "\e963";
}
.icon-permissions:before {
  content: "\e964";
}
.icon-profile:before {
  content: "\e965";
}
.icon-ally:before {
  content: "\e95d";
}
.icon-enemy:before {
  content: "\e95e";
}
.icon-edit:before {
  content: "\e95f";
}
.icon-category-alloys:before {
  content: "\e90c";
}
.icon-category-armor:before {
  content: "\e90d";
}
.icon-category-arrow:before {
  content: "\e90e";
}
.icon-category-axe:before {
  content: "\e90f";
}
.icon-category-bandages:before {
  content: "\e910";
}
.icon-category-basalt-slab:before {
  content: "\e911";
}
.icon-category-black-board:before {
  content: "\e912";
}
.icon-category-black-log:before {
  content: "\e913";
}
.icon-category-blocks:before {
  content: "\e914";
}
.icon-category-bolt:before {
  content: "\e915";
}
.icon-category-bow:before {
  content: "\e916";
}
.icon-category-building:before {
  content: "\e917";
}
.icon-category-cherry-board:before {
  content: "\e918";
}
.icon-category-cherry-log:before {
  content: "\e919";
}
.icon-category-cloths:before {
  content: "\e91a";
}
.icon-category-cloths-raw:before {
  content: "\e91b";
}
.icon-category-consumables:before {
  content: "\e91c";
}
.icon-category-dagger:before {
  content: "\e91d";
}
.icon-category-dark-board:before {
  content: "\e91e";
}
.icon-category-dark-log:before {
  content: "\e91f";
}
.icon-category-decor:before {
  content: "\e920";
}
.icon-category-deployables:before {
  content: "\e921";
}
.icon-category-focus:before {
  content: "\e922";
}
.icon-category-food:before {
  content: "\e923";
}
.icon-category-gneiss-slab:before {
  content: "\e924";
}
.icon-category-granite-slab:before {
  content: "\e925";
}
.icon-category-great-axe:before {
  content: "\e926";
}
.icon-category-great-hammer:before {
  content: "\e927";
}
.icon-category-great-mace:before {
  content: "\e928";
}
.icon-category-great-sword:before {
  content: "\e929";
}
.icon-category-hammer:before {
  content: "\e92a";
}
.icon-category-igneous-ore:before {
  content: "\e92b";
}
.icon-category-interactive:before {
  content: "\e92c";
}
.icon-category-leathers:before {
  content: "\e92d";
}
.icon-category-leathers-raw:before {
  content: "\e92e";
}
.icon-category-light-back:before {
  content: "\e92f";
}
.icon-category-light-board:before {
  content: "\e930";
}
.icon-category-light-chest:before {
  content: "\e931";
}
.icon-category-light-face:before {
  content: "\e932";
}
.icon-category-light-feet:before {
  content: "\e933";
}
.icon-category-light-forearm:before {
  content: "\e934";
}
.icon-category-light-hand:before {
  content: "\e935";
}
.icon-category-light-log:before {
  content: "\e936";
}
.icon-category-light-neck:before {
  content: "\e937";
}
.icon-category-light-shins:before {
  content: "\e938";
}
.icon-category-light-shoulder:before {
  content: "\e939";
}
.icon-category-light-skull:before {
  content: "\e93a";
}
.icon-category-light-thighs:before {
  content: "\e93b";
}
.icon-category-light-waist:before {
  content: "\e93c";
}
.icon-category-long-sword:before {
  content: "\e93d";
}
.icon-category-mace:before {
  content: "\e93e";
}
.icon-category-marble-slab:before {
  content: "\e93f";
}
.icon-category-metals:before {
  content: "\e940";
}
.icon-category-metals-raw:before {
  content: "\e941";
}
.icon-category-metamorphic-ore:before {
  content: "\e942";
}
.icon-category-munitions:before {
  content: "\e943";
}
.icon-category-outerlayer:before {
  content: "\e944";
}
.icon-category-polearm:before {
  content: "\e945";
}
.icon-category-potion:before {
  content: "\e946";
}
.icon-category-quartzite-slab:before {
  content: "\e947";
}
.icon-category-reagents:before {
  content: "\e948";
}
.icon-category-sandstone-slab:before {
  content: "\e949";
}
.icon-category-sedimentary-ore:before {
  content: "\e94a";
}
.icon-category-shield:before {
  content: "\e94b";
}
.icon-category-siege:before {
  content: "\e94c";
}
.icon-category-slate-slab:before {
  content: "\e94d";
}
.icon-category-softmetal-bar:before {
  content: "\e94e";
}
.icon-category-spear:before {
  content: "\e94f";
}
.icon-category-staff:before {
  content: "\e950";
}
.icon-category-stones:before {
  content: "\e951";
}
.icon-category-stones-raw:before {
  content: "\e952";
}
.icon-category-Substances:before {
  content: "\e953";
}
.icon-category-sword:before {
  content: "\e954";
}
.icon-category-thrown:before {
  content: "\e955";
}
.icon-category-torch:before {
  content: "\e956";
}
.icon-category-trap:before {
  content: "\e957";
}
.icon-category-underlayer:before {
  content: "\e958";
}
.icon-category-vial:before {
  content: "\e959";
}
.icon-category-weapons:before {
  content: "\e95a";
}
.icon-category-woods:before {
  content: "\e95b";
}
.icon-category-woods-raw:before {
  content: "\e95c";
}
.icon-infusion:before {
  content: "\e909";
}
.icon-make:before {
  content: "\e903";
}
.icon-purify:before {
  content: "\e904";
}
.icon-refine:before {
  content: "\e905";
}
.icon-repair:before {
  content: "\e906";
}
.icon-salvage:before {
  content: "\e907";
}
.icon-shape:before {
  content: "\e908";
}
.icon-left:before {
  content: "\3c";
}
.icon-right:before {
  content: "\3e";
}
.icon-scenario:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e901";
}
.icon-craft-anvil:before {
  content: "\e900";
}
.icon-slot-two-hand-weapon:before {
  content: "\e90a";
}
.icon-slot-left-hand-weapon:before {
  content: "\e90b";
}
.icon-filter-heavy-face:before {
  content: "\e000";
}
.icon-damage-acid:before {
  content: "\e001";
}
.icon-damage-air:before {
  content: "\e002";
}
.icon-damage-arcane:before {
  content: "\e003";
}
.icon-damage-chaos:before {
  content: "\e004";
}
.icon-damage-crushing:before {
  content: "\e005";
}
.icon-damage-death:before {
  content: "\e006";
}
.icon-damage-disease:before {
  content: "\e007";
}
.icon-damage-earth:before {
  content: "\e008";
}
.icon-damage-fire:before {
  content: "\e009";
}
.icon-damage-frost:before {
  content: "\e00a";
}
.icon-damage-life:before {
  content: "\e00b";
}
.icon-damage-lightning:before {
  content: "\e00c";
}
.icon-damage-mind:before {
  content: "\e00d";
}
.icon-damage-physics-impact:before {
  content: "\e00e";
}
.icon-damage-piercing:before {
  content: "\e00f";
}
.icon-damage-poison:before {
  content: "\e010";
}
.icon-damage-radiant:before {
  content: "\e011";
}
.icon-damage-shadow:before {
  content: "\e012";
}
.icon-damage-slashing:before {
  content: "\e013";
}
.icon-damage-spirit:before {
  content: "\e014";
}
.icon-damage-system:before {
  content: "\e015";
}
.icon-damage-void:before {
  content: "\e016";
}
.icon-damage-water:before {
  content: "\e017";
}
.icon-filter-alloys:before {
  content: "\e018";
}
.icon-filter-armor:before {
  content: "\e019";
}
.icon-filter-arrow:before {
  content: "\e01a";
}
.icon-filter-axe:before {
  content: "\e01b";
}
.icon-filter-bandages:before {
  content: "\e01c";
}
.icon-filter-basalt-slab:before {
  content: "\e01d";
}
.icon-filter-black-board:before {
  content: "\e01e";
}
.icon-filter-black-log:before {
  content: "\e01f";
}
.icon-filter-blocks:before {
  content: "\e020";
}
.icon-filter-bolt:before {
  content: "\e021";
}
.icon-filter-bow:before {
  content: "\e022";
}
.icon-filter-building:before {
  content: "\e023";
}
.icon-filter-cherry-board:before {
  content: "\e024";
}
.icon-filter-cherry-log:before {
  content: "\e025";
}
.icon-filter-cloths:before {
  content: "\e026";
}
.icon-filter-cloths-raw:before {
  content: "\e027";
}
.icon-filter-consumables:before {
  content: "\e028";
}
.icon-filter-dagger:before {
  content: "\e029";
}
.icon-filter-dark-board:before {
  content: "\e02a";
}
.icon-filter-dark-log:before {
  content: "\e02b";
}
.icon-filter-decor:before {
  content: "\e02c";
}
.icon-filter-deployables:before {
  content: "\e02d";
}
.icon-filter-focus:before {
  content: "\e02e";
}
.icon-filter-food:before {
  content: "\e02f";
}
.icon-filter-gneiss-slab:before {
  content: "\e030";
}
.icon-filter-granite-slab:before {
  content: "\e031";
}
.icon-filter-great-axe:before {
  content: "\e032";
}
.icon-filter-great-hammer:before {
  content: "\e033";
}
.icon-filter-great-mace:before {
  content: "\e034";
}
.icon-filter-great-sword:before {
  content: "\e035";
}
.icon-filter-hammer:before {
  content: "\e036";
}
.icon-filter-hardmetal-bar:before {
  content: "\e037";
}
.icon-filter-heavy-back:before {
  content: "\e038";
}
.icon-filter-heavy-chest:before {
  content: "\e039";
}
.icon-filter-heavy-cloak:before {
  content: "\e03a";
}
.icon-filter-heavy-feet:before {
  content: "\e03b";
}
.icon-filter-heavy-forearm:before {
  content: "\e03c";
}
.icon-filter-heavy-hand:before {
  content: "\e03d";
}
.icon-filter-heavy-neck:before {
  content: "\e03e";
}
.icon-filter-heavy-shins:before {
  content: "\e03f";
}
.icon-filter-heavy-shoulder:before {
  content: "\e040";
}
.icon-filter-heavy-skull:before {
  content: "\e041";
}
.icon-filter-heavy-thighs:before {
  content: "\e042";
}
.icon-filter-heavy-waist:before {
  content: "\e043";
}
.icon-filter-igneous-ore:before {
  content: "\e044";
}
.icon-filter-interactive:before {
  content: "\e045";
}
.icon-filter-leathers:before {
  content: "\e046";
}
.icon-filter-leathers-raw:before {
  content: "\e047";
}
.icon-filter-light-back:before {
  content: "\e048";
}
.icon-filter-light-board:before {
  content: "\e049";
}
.icon-filter-light-chest:before {
  content: "\e04a";
}
.icon-filter-light-cloak:before {
  content: "\e04b";
}
.icon-filter-light-face:before {
  content: "\e04c";
}
.icon-filter-light-feet:before {
  content: "\e04d";
}
.icon-filter-light-forearm:before {
  content: "\e04e";
}
.icon-filter-light-hand:before {
  content: "\e04f";
}
.icon-filter-light-log:before {
  content: "\e050";
}
.icon-filter-light-neck:before {
  content: "\e051";
}
.icon-filter-light-shins:before {
  content: "\e052";
}
.icon-filter-light-shoulder:before {
  content: "\e053";
}
.icon-filter-light-skull:before {
  content: "\e054";
}
.icon-filter-light-thighs:before {
  content: "\e055";
}
.icon-filter-light-waist:before {
  content: "\e056";
}
.icon-filter-long-sword:before {
  content: "\e057";
}
.icon-filter-mace:before {
  content: "\e058";
}
.icon-filter-marble-slab:before {
  content: "\e059";
}
.icon-filter-medium-back:before {
  content: "\e05a";
}
.icon-filter-medium-chest:before {
  content: "\e05b";
}
.icon-filter-medium-cloak:before {
  content: "\e05c";
}
.icon-filter-medium-face:before {
  content: "\e05d";
}
.icon-filter-medium-feet:before {
  content: "\e05e";
}
.icon-filter-medium-forearm:before {
  content: "\e05f";
}
.icon-filter-medium-hand:before {
  content: "\e060";
}
.icon-filter-medium-neck:before {
  content: "\e061";
}
.icon-filter-medium-shins:before {
  content: "\e062";
}
.icon-filter-medium-shoulder:before {
  content: "\e063";
}
.icon-filter-medium-skull:before {
  content: "\e064";
}
.icon-filter-medium-thighs:before {
  content: "\e065";
}
.icon-filter-medium-waist:before {
  content: "\e066";
}
.icon-filter-metal-bar:before {
  content: "\e067";
}
.icon-filter-metals:before {
  content: "\e068";
}
.icon-filter-metals-raw:before {
  content: "\e069";
}
.icon-filter-metamorphic-ore:before {
  content: "\e06a";
}
.icon-filter-munitions:before {
  content: "\e06b";
}
.icon-filter-outerlayer:before {
  content: "\e06c";
}
.icon-filter-polearm:before {
  content: "\e06d";
}
.icon-filter-potion:before {
  content: "\e06e";
}
.icon-filter-quartzite-slab:before {
  content: "\e06f";
}
.icon-filter-reagents:before {
  content: "\e070";
}
.icon-filter-sandstone-slab:before {
  content: "\e071";
}
.icon-filter-sedimentary-ore:before {
  content: "\e072";
}
.icon-filter-shield:before {
  content: "\e073";
}
.icon-filter-siege:before {
  content: "\e074";
}
.icon-filter-slate-slab:before {
  content: "\e075";
}
.icon-filter-softmetal-bar:before {
  content: "\e076";
}
.icon-filter-spear:before {
  content: "\e077";
}
.icon-filter-staff:before {
  content: "\e078";
}
.icon-filter-stones:before {
  content: "\e079";
}
.icon-filter-stones-raw:before {
  content: "\e07a";
}
.icon-filter-substances:before {
  content: "\e07b";
}
.icon-filter-sword:before {
  content: "\e07c";
}
.icon-filter-thrown:before {
  content: "\e07d";
}
.icon-filter-torch:before {
  content: "\e07e";
}
.icon-filter-trap:before {
  content: "\e07f";
}
.icon-filter-underlayer:before {
  content: "\e080";
}
.icon-filter-vial:before {
  content: "\e081";
}
.icon-filter-weapons:before {
  content: "\e082";
}
.icon-filter-woods:before {
  content: "\e083";
}
.icon-filter-woods-raw:before {
  content: "\e084";
}
.icon-health-arm:before {
  content: "\e085";
}
.icon-health-arm2:before {
  content: "\e0ae";
}
.icon-health-head:before {
  content: "\e086";
}
.icon-health-leg:before {
  content: "\e087";
}
.icon-health-leg2:before {
  content: "\2b27";
}
.icon-health-torso:before {
  content: "\e088";
}
.icon-slot-back:before {
  content: "\e089";
}
.icon-slot-chest:before {
  content: "\e08a";
}
.icon-slot-cloak:before {
  content: "\e08b";
}
.icon-slot-face:before {
  content: "\e08c";
}
.icon-slot-feet:before {
  content: "\e08d";
}
.icon-slot-forearmleft:before {
  content: "\e08e";
}
.icon-slot-hand:before {
  content: "\e08f";
}
.icon-slot-neck:before {
  content: "\e090";
}
.icon-slot-shin:before {
  content: "\e091";
}
.icon-slot-shoulder:before {
  content: "\e092";
}
.icon-slot-skull:before {
  content: "\e093";
}
.icon-slot-thighs:before {
  content: "\e094";
}
.icon-slot-waist:before {
  content: "\e095";
}
.icon-ui-bag:before {
  content: "\e096";
}
.icon-ui-gold:before {
  content: "\e097";
}
.icon-ui-weight:before {
  content: "\e098";
}
.icon-alt:before {
  content: "\e099";
}
.icon-ctrl:before {
  content: "\e09a";
}
.icon-mouse1:before {
  content: "\e09b";
}
.icon-mouse2:before {
  content: "\e09c";
}
.icon-mouse3:before {
  content: "\e09d";
}
.icon-mouse4:before {
  content: "\e09e";
}
.icon-mouse5:before {
  content: "\e09f";
}
.icon-shift:before {
  content: "\e0a0";
}
.icon-space:before {
  content: "\e0a1";
}
.icon-rank-1:before {
  content: "\e0a2";
}
.icon-rank-2:before {
  content: "\e0a3";
}
.icon-rank-3:before {
  content: "\e0a4";
}
.icon-rank-4:before {
  content: "\e0a5";
}
.icon-rank-5:before {
  content: "\e0a6";
}
.icon-rank-6:before {
  content: "\e0a7";
}
.icon-rank-7:before {
  content: "\e0a8";
}
.icon-rank-8:before {
  content: "\e0a9";
}
.icon-rank-9:before {
  content: "\e0aa";
}
.icon-rank-10:before {
  content: "\e0ab";
}
.icon-permissions-drop-in:before {
  content: "\e0ac";
}
.icon-permissions-pick-up:before {
  content: "\e0ad";
}
