.chat {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    width: min(100dvw, 800px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.chatBox {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
    overflow-y: scroll;
    scrollbar-color: black;
}