/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.material-selector {
   position: absolute;
   
  .materials {
    background: linear-gradient(#131313, rgba(0, 0, 0, 0.8));    
    line-height: 1px;
    height: calc(100% - 5px);
    overflow: auto;
  }

  header {
    line-height: 1.5em;
  }

  img {
    margin: 2px;
    width: 32px;
    height: 32px;

    &:hover {
      -webkit-filter: brightness(130%);
      filter: brightness(130%);
    }

    &.active {
      filter: brightness(130%);
      box-shadow: 0 0 10px 0px rgba(100, 100, 255, 0.8);
      border-color: rgba(100,100,255,0.8);
      border-radius: 4px;
      border-width: 2px;
      margin: 0px;
      border-style: solid;    
    }
  }
}
