/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.alert {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #870090, rgba(0, 0, 0, 0)) !important;
  color: #eaeaea !important;
  text-align: center;
  padding: 2px;
  list-style: none;
  border-width: 2px 0px !important;
  border-image: linear-gradient(to left, rgba(0, 0, 0, 0), #f33cff, rgba(0, 0, 0, 0)) !important;
  border-image-slice: 1 !important;
  box-shadow: none;
}
.alert2 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #004aa4, rgba(0, 0, 0, 0)) !important;
  color: #eaeaea !important;
  text-align: center;
  padding: 2px;
  list-style: none;
  border-width: 2px 0px !important;
  border-image: linear-gradient(to left, rgba(0, 0, 0, 0), #136bd6, rgba(0, 0, 0, 0)) !important;
  border-image-slice: 1 !important;
  box-shadow: none;
}
