/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */


/* CSE emoji */
.emoji {
  display: inline-block;
  margin: 0 0.1em;
  width: 1.2em;
  height: 1.2em;
  position: relative;
  top: 0.2em;
  background-repeat: no-repeat;
  background-size: contain;
  fill: #fc0;
}
.emoji--ANGRY {
  background-image: url('../images/chat/emoji/angry2.png'), url('../images/chat/emoji/angry2.svg');
}
.emoji--BAFFLED {
  background-image: url('../images/chat/emoji/baffled2.png'), url('../images/chat/emoji/baffled2.svg');
}
.emoji--CONFUSED {
  background-image: url('../images/chat/emoji/confused2.png'), url('../images/chat/emoji/confused2.svg');
}
.emoji--COOL {
  background-image: url('../images/chat/emoji/cool2.png'), url('../images/chat/emoji/cool2.svg');
}
.emoji--CRYING {
  background-image: url('../images/chat/emoji/crying2.png'), url('../images/chat/emoji/crying2.svg');
}
.emoji--EVIL {
  background-image: url('../images/chat/emoji/evil2.png'), url('../images/chat/emoji/evil2.svg');
}
.emoji--FRUSTRATED {
  background-image: url('../images/chat/emoji/frustrated2.png'), url('../images/chat/emoji/frustrated2.svg');
}
.emoji--GRIN {
  background-image: url('../images/chat/emoji/grin2.png'), url('../images/chat/emoji/grin2.svg');
}
.emoji--HAPPY {
  background-image: url('../images/chat/emoji/happy2.png'), url('../images/chat/emoji/happy2.svg');
}
.emoji--HIPSTER {
  background-image: url('../images/chat/emoji/hipster2.png'), url('../images/chat/emoji/hipster2.svg');
}
.emoji--NEUTRAL {
  background-image: url('../images/chat/emoji/neutral2.png'), url('../images/chat/emoji/neutral2.svg');
}
.emoji--SAD {
  background-image: url('../images/chat/emoji/sad2.png'), url('../images/chat/emoji/sad2.svg');
}
.emoji--SHOCKED {
  background-image: url('../images/chat/emoji/shocked2.png'), url('../images/chat/emoji/shocked2.svg');
}
.emoji--SLEEPY {
  background-image: url('../images/chat/emoji/sleepy2.png'), url('../images/chat/emoji/sleepy2.svg');
}
.emoji--SMILE {
  background-image: url('../images/chat/emoji/smile2.png'), url('../images/chat/emoji/smile2.svg');
}
.emoji--TONGUE {
  background-image: url('../images/chat/emoji/tongue2.png'), url('../images/chat/emoji/tongue2.svg');
}
.emoji--WINK {
  background-image: url('../images/chat/emoji/wink2.png'), url('../images/chat/emoji/wink2.svg');
}
.emoji--WONDERING {
  background-image: url('../images/chat/emoji/wondering2.png'), url('../images/chat/emoji/wondering2.svg');
}
.emoji--ANDREWFEZ {
  background-image: url('../images/chat/cse_emoticons/cse_andrewFez.png'), url('../images/chat/cse_emoticons/cse_andrewFez.svg');
}
.emoji--ANDREW {
  background-image: url('../images/chat/cse_emoticons/cse_andrewFez.png'), url('../images/chat/cse_emoticons/cse_andrewFez.svg');
}
.emoji--JBHEAD {
  background-image: url('../images/chat/cse_emoticons/cse_jbHead.png'), url('../images/chat/cse_emoticons/cse_jbHead.svg');
}
.emoji--JB {
  background-image: url('../images/chat/cse_emoticons/cse_jbHead.png'), url('../images/chat/cse_emoticons/cse_jbHead.svg');
}
.emoji--MARKHEAD {
  background-image: url('../images/chat/cse_emoticons/cse_markHead.png'), url('../images/chat/cse_emoticons/cse_markHead.svg');
}
.emoji--MJHEAD {
  background-image: url('../images/chat/cse_emoticons/cse_markHead.png'), url('../images/chat/cse_emoticons/cse_markHead.svg');
}
.emoji--MJ {
  background-image: url('../images/chat/cse_emoticons/cse_markHead.png'), url('../images/chat/cse_emoticons/cse_markHead.svg');
}
.emoji--MJELF {
  background-image: url('../images/chat/cse_emoticons/cse_mjElf.png'), url('../images/chat/cse_emoticons/cse_mjElf.svg');
}
.emoji--SANDRAGRIN {
  background-image: url('../images/chat/cse_emoticons/cse_sandraGrin.png'), url('../images/chat/cse_emoticons/cse_sandraGrin.svg');
}
.emoji--TIMHEAD {
  background-image: url('../images/chat/cse_emoticons/cse_timHead.png'), url('../images/chat/cse_emoticons/cse_timHead.svg');
}
.emoji--TINYMICHELLE {
  background-image: url('../images/chat/cse_emoticons/cse_tinyMichelle.png'), url('../images/chat/cse_emoticons/cse_tinyMichelle.svg');
}
.emoji--BATGRIN {
  background-image: url('../images/chat/cse_emoticons/emote_batGrin.png'), url('../images/chat/cse_emoticons/emote_batGrin.svg');
}
.emoji--BATHAPPY {
  background-image: url('../images/chat/cse_emoticons/emote_batHappy.png'), url('../images/chat/cse_emoticons/emote_batHappy.svg');
}
.emoji--BATMAD {
  background-image: url('../images/chat/cse_emoticons/emote_batMad.png'), url('../images/chat/cse_emoticons/emote_batMad.svg');
}
.emoji--BATSAD {
  background-image: url('../images/chat/cse_emoticons/emote_batSad.png'), url('../images/chat/cse_emoticons/emote_batSad.svg');
}
.emoji--BATTONGUE {
  background-image: url('../images/chat/cse_emoticons/emote_batTongue.png'), url('../images/chat/cse_emoticons/emote_batTongue.svg');
}
.emoji--BOB {
  background-image: url('../images/chat/cse_emoticons/emote_bob.png'), url('../images/chat/cse_emoticons/emote_bob.svg');
}
.emoji--BOBLOVE {
  background-image: url('../images/chat/cse_emoticons/emote_bobLove.png'), url('../images/chat/cse_emoticons/emote_bobLove.svg');
}
.emoji--CROWN {
  background-image: url('../images/chat/cse_emoticons/emote_crown.png'), url('../images/chat/cse_emoticons/emote_crown.svg');
}
.emoji--CUPOTEARS {
  background-image: url('../images/chat/cse_emoticons/emote_cupOtears.png'), url('../images/chat/cse_emoticons/emote_cupOtears.svg');
}
.emoji--QQCUP {
  background-image: url('../images/chat/cse_emoticons/emote_cupOtears.png'), url('../images/chat/cse_emoticons/emote_cupOtears.svg');
}
.emoji--DRAGONLICK {
  background-image: url('../images/chat/cse_emoticons/emote_dragonLick.png'), url('../images/chat/cse_emoticons/emote_dragonLick.svg');
}
.emoji--DRAGONWHALE {
  background-image: url('../images/chat/cse_emoticons/emote_dragonwhale.png'), url('../images/chat/cse_emoticons/emote_dragonwhale.svg');
}
.emoji--DUCK {
  background-image: url('../images/chat/cse_emoticons/emote_duck.png'), url('../images/chat/cse_emoticons/emote_duck.svg');
}
.emoji--DUCKMAGE {
  background-image: url('../images/chat/cse_emoticons/emote_duckMage.png'), url('../images/chat/cse_emoticons/emote_duckMage.svg');
}
.emoji--FROWNSTRM {
  background-image: url('../images/chat/cse_emoticons/emote_frownStrm.png'), url('../images/chat/cse_emoticons/emote_frownStrm.svg');
}
.emoji--SADSTRM {
  background-image: url('../images/chat/cse_emoticons/emote_frownStrm.png'), url('../images/chat/cse_emoticons/emote_frownStrm.svg');
}
.emoji--HAPPYSTRM {
  background-image: url('../images/chat/cse_emoticons/emote_happyStrm.png'), url('../images/chat/cse_emoticons/emote_happyStrm.svg');
}
.emoji--JUDGINGDUCKONE {
  background-image: url('../images/chat/cse_emoticons/emote_judgingDuck1.png'), url('../images/chat/cse_emoticons/emote_judgingDuck1.svg');
}
.emoji--JUDGINGDUCK1 {
  background-image: url('../images/chat/cse_emoticons/emote_judgingDuck1.png'), url('../images/chat/cse_emoticons/emote_judgingDuck1.svg');
}
.emoji--JUDGINGDUCKTWO {
  background-image: url('../images/chat/cse_emoticons/emote_judgingDuck2.png'), url('../images/chat/cse_emoticons/emote_judgingDuck2.svg');
}
.emoji--JUDGINGDUCK2 {
  background-image: url('../images/chat/cse_emoticons/emote_judgingDuck2.png'), url('../images/chat/cse_emoticons/emote_judgingDuck2.svg');
}
.emoji--ARTHURIANLOVE {
  background-image: url('../images/chat/cse_emoticons/emote_loveArthurian_style.png'), url('../images/chat/cse_emoticons/emote_loveArthurian_style.svg');
}
.emoji--ARTLOVE {
  background-image: url('../images/chat/cse_emoticons/emote_loveArthurian_style.png'), url('../images/chat/cse_emoticons/emote_loveArthurian_style.svg');
}
.emoji--TUATHALOVE {
  background-image: url('../images/chat/cse_emoticons/emote_loveTuatha_style.png'), url('../images/chat/cse_emoticons/emote_loveTuatha_style.svg');
}
.emoji--TDDLOVE {
  background-image: url('../images/chat/cse_emoticons/emote_loveTuatha_style.png'), url('../images/chat/cse_emoticons/emote_loveTuatha_style.svg');
}
.emoji--VIKINGLOVE {
  background-image: url('../images/chat/cse_emoticons/emote_loveViking_style.png'), url('../images/chat/cse_emoticons/emote_loveViking_style.svg');
}
.emoji--VIKLOVE {
  background-image: url('../images/chat/cse_emoticons/emote_loveViking_style.png'), url('../images/chat/cse_emoticons/emote_loveViking_style.svg');
}
.emoji--PLUSTEN {
  background-image: url('../images/chat/cse_emoticons/emote_plus10.png'), url('../images/chat/cse_emoticons/emote_plus10.svg');
}
.emoji--PLUS10 {
  background-image: url('../images/chat/cse_emoticons/emote_plus10.png'), url('../images/chat/cse_emoticons/emote_plus10.svg');
}
.emoji--PVP {
  background-image: url('../images/chat/cse_emoticons/emote_PvP.png'), url('../images/chat/cse_emoticons/emote_PvP.svg');
}
.emoji--RAGE {
  background-image: url('../images/chat/cse_emoticons/emote_rage.png'), url('../images/chat/cse_emoticons/emote_rage.svg');
}
.emoji--SALT {
  background-image: url('../images/chat/cse_emoticons/emote_salt.png'), url('../images/chat/cse_emoticons/emote_salt.svg');
}
.emoji--ARTHURIANSHIELD {
  background-image: url('../images/chat/cse_emoticons/emote_shieldArthurian.png'), url('../images/chat/cse_emoticons/emote_shieldArthurian.svg');
}
.emoji--ARTSHIELD {
  background-image: url('../images/chat/cse_emoticons/emote_shieldArthurian.png'), url('../images/chat/cse_emoticons/emote_shieldArthurian.svg');
}
.emoji--TUATHASHIELD {
  background-image: url('../images/chat/cse_emoticons/emote_shieldTuatha.png'), url('../images/chat/cse_emoticons/emote_shieldTuatha.svg');
}
.emoji--TDDSHIELD {
  background-image: url('../images/chat/cse_emoticons/emote_shieldTuatha.png'), url('../images/chat/cse_emoticons/emote_shieldTuatha.svg');
}
.emoji--VIKINGSHIELD {
  background-image: url('../images/chat/cse_emoticons/emote_shieldViking.png'), url('../images/chat/cse_emoticons/emote_shieldViking.svg');
}
.emoji--VIKSHIELD {
  background-image: url('../images/chat/cse_emoticons/emote_shieldViking.png'), url('../images/chat/cse_emoticons/emote_shieldViking.svg');
}
.emoji--SHOTSFIRED {
  background-image: url('../images/chat/cse_emoticons/emote_shotsFired.png'), url('../images/chat/cse_emoticons/emote_shotsFired.svg');
}
.emoji--UNICORN {
  background-image: url('../images/chat/cse_emoticons/emote_unicorn.png'), url('../images/chat/cse_emoticons/emote_unicorn.svg');
}
