/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * @Author: JB (jb@codecorsair.com)
 * @Date: 2017-01-16 14:29:45
 * @Last Modified by: JB (jb@codecorsair.com)
 * @Last Modified time: 2017-02-27 12:18:19
 */

@import './components/AllianceContent/index';
@import './components/WarbandContent/index';
@import './components/CampaignContent/index';

.wave-text {
  i {
    font-style: normal;
    animation: waveText 1s infinite ease-in alternate;
    -webkit-animation: waveText 1s infinite ease-in alternate;
    &:after {
      content: '|';
      visibility: hidden;
      position: absolute;
    }
  }

  @for $i from 0 through 9 {
    i:nth-child(#{$i}) {
      animation-delay: 0.1s * $i;
      -webkit-animation-delay: 0.1s * $i;
    }
  }
}

@-webkit-keyframes waveText {
  0% {
    opacity: .3;
    color: #ececec;
    font-size: 0.6em;
  }
  80% {
    opacity: 1;
    color: #3fd0b0;
  }
  100% {
    opacity: 1;
    color: #3fd0b0;
    font-size: 1em;
  }
}

@keyframes waveText {
  0% {
    opacity: .3;
    color: #ececec;
    font-size: 0.6em;
  }
  80% {
    opacity: 1;
    color: #3fd0b0;
  }
  100% {
    opacity: 1;
    color: #3fd0b0;
    font-size: 1em;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
