/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

#cu-character-creation, #cu-character-select {
  @import './sass/constants';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: $color2;
  color: white;
  user-select: none;
  -webkit-user-select: none;

  .cu-character-creation__loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }

  ::selection {
    background:  rgb(181, 181, 181);
  }

  h6 {
    color: lighten($color4, 40%);
    padding: 2.5px;
    font-size: 18px;
    margin: 0;
  }


  ::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #56473C, #9A846F, #5D4C40);
    border: 1px solid rgba(255, 216, 180, 0.12);
  }

  a {
    color: #e2e2e2;
  }

  .cu-character-creation {
    height: 100%;
    margin: 0;
    overflow: hidden;
    color: #e2e2e2;
    -webkit-user-select: none;
    user-select: none;
  }

  .cu-character-creation__content {
    position: relative;
    height: calc(100% - 70px);
    margin-top: 20px;
  }

  .cu-btn {
    background-color: transparent;
    color: #eaeaea;
    position: relative;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1em;
    transition: all .2s ease-in-out;
    z-index: 10;
    &:hover {
      filter: brightness(1.2);
      -webkit-filter: brightness(1.2);
    }
    &:active {
      color: rgba(255, 200, 100, 0.15);
    }
    &:disabled {
      opacity: .5;

    }
  }

  @import './sass/preloader';
  @import './sass/layout';
  @import './sass/display-images';
  @import './sass/faction-select';
  @import './sass/race-select';
  @import './sass/class-select';
  @import './sass/attribute-select';
  @import './sass/navigation';
  @import './sass/responsive';

  // overlay stuff goes last :)
  .cu-character-creation__faction-select__TDD.active{
    border: none;
    box-shadow: inset 0px -220px 210px -10px $trans-tdd;
    outline: 1px solid rgba(158, 181, 85, 0.6);
    outline-offset: -10px;
    -webkit-filter: brightness(1.2);
    &:before {
      content: '';
      background: linear-gradient(transparent, darken($trans-tdd, 12%));
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
  }

  .cu-character-creation__faction-select__Arthurian.active {
    border: none;
    box-shadow: inset 0px -220px 210px -10px darken($trans-art, 20%);
    outline: 1px solid rgba(199, 73, 68, 0.6);
    outline-offset: -10px;
    &:before {
      content: '';
      background: linear-gradient(transparent, darken($trans-art, 12%));
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
  }

  .cu-character-creation__faction-select__Viking.active {
    border: none;
    box-shadow: inset 0px -220px 210px -10px $trans-vik;
    outline: 1px solid rgba(72, 166, 193, 0.6);
    outline-offset: -10px;
    &:before {
      content: '';
      background: linear-gradient(transparent, darken($trans-vik, 12%));
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
  }

  .active {
    border: none;
    box-shadow: inset 0px -10px 40px 0px rgba(255, 225, 78, 0.58);
    outline: 1px solid rgba(255,225,78,0.50);
    outline-offset: -3px;
    -webkit-filter: brightness(1.4);
    filter: brightness(1.4);
  }

  .toast {
    background: $gradient-alert1, radial-gradient(at center, rgb(0, 0, 0), transparent 250%);
    text-shadow: 2px 2px black;
    color: $color1 ;
    text-align: center;
    padding: 15px 30px;
    list-style: none;
    box-shadow: none;
    -webkit-filter: grayscale(1) brightness(1.5);
    filter: grayscale(1) brightness(1.5);
    max-width: 300px;
    border: 1px rgba(255, 255, 255, 0.19) solid;
    outline-offset: 1px;
    outline: 5px solid rgba(0, 0, 0, 0.5);
    word-break: normal;
  }
}

