/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * @Author: JB (jb@codecorsair.com)
 * @Date: 2016-10-19 15:12:17
 * @Last Modified by: JB (jb@codecorsair.com)
 * @Last Modified time: 2016-10-27 16:55:47
 */

.PatcherApp {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.PatcherApp__content {
  flex: 1 1 auto;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

.PatcherApp__content__item {
  flex: 1 1 auto;
  display: flex;
}
