
@import url('http://fonts.googleapis.com/css?family=Cinzel');
@import url('http://fonts.googleapis.com/css?family=Merriweather+Sans');

#server-stats-container {
    width: 1075px;          /* reduced by 57px */
    height: 893px;
}

.disable-selection * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game-state {
    font-family: "Merriweather Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
.realm-score, .leaderboards {
    font-family: "Cinzel", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

/* ************************************************************************** */

.game-state {
    position: relative;
    height: 58px;
    border: 1px solid #404040;
    background-color: #121212;
    box-sizeing: border-box;
    margin: 10px;
    color: white;
    font-size: 18px;
}

.game-state>span {
    position: absolute;
    top: 18px;
}

.game-state>.state {
    left: 40px;
}
.game-state>.state>.offline {
    color: red;
}

.game-state>.time {
    left: 440px;
}

.game-state>.pop {
    left: 800px;
}

/* ************************************************************************** */

/* Realm score board */
.realm-scores {
    height: 290px;
}

.realm-score {
    position: relative;
    float: left;
    width: 354.333px; height: 257px;
    margin: 10px 2px;
    background-image: url('../images/realmscore-frame.png');
    background-size: 354px 257px;
}

/* Realm score board background panel */
.score-bg {
    position: absolute;
    width: 305px; height: 165px;
    top: 69px;
    left: 24px;
    background-size: 305px 165px;
}
.realm-score.arthurian .score-bg { background-image: url('../images/arthurian-bg.png'); }
.realm-score.tdd .score-bg { background-image: url('../images/tdd-bg.png'); }
.realm-score.viking .score-bg { background-image: url('../images/viking-bg.png'); }

.realm-score .title, .realm-score .label {
    color: white;
}

.realm-score .title, .realm-score .label, .realm-score .points, .realm-score .players {
    position: absolute;
    width: 100%;
    text-align: center;
}

.realm-score .title {
    top: 16px;
    font-size: 20px;
}

.realm-score .label {
    top: 106px;
    font-size: 18px;
}

.realm-score .points {
    top: 125px;
    font-size: 37px;
}

.realm-score .players {
    top: 190px;
    font-size: 14px;
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    opacity: 0.7;
}

.realm-score.arthurian { color: #e60000; }
.realm-score.tdd { color: #a8df00; }
.realm-score.viking { color: #00b4ff; }

/* ************************************************************************** */

.leaderboards {
    position: relative;
    width: 100%;
    height: 521px;
    background-image: url('../images/leaderboard.png');
    background-size: 100% 521px;
}

.leaderboards>.title {
    position: absolute;
    top: 16px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
}

.leaderboards>.board {
    position: absolute;
    width: 500px; height: 423px;
    top: 60px;
}
.leaderboards>.kills { left: 30px; }
.leaderboards>.deaths { right: 30px; }

.leaderboards>.kills.detail { width: 1015px; z-index: 1; }
.leaderboards>.deaths.detail { width: 1015px; z-index: 1; }

.leaderboards>.board>.heading {
    height: 38px;
    background-color: #212121;
    color: white;
    font-size: 18px;
    border: #434343 1px solid;
}
.leaderboards>.board.detail>.heading {
    font-size: 14px;
}

.leaderboards>.board>.heading>span {
    display: block;
    float: left;
    margin-left: 8px;
    height: 38px;
    line-height: 38px;
    border-right: #434343 1px solid;
}
.leaderboards>.board>.heading>span.has-filter {
    cursor: pointer;
    background-image: url('../images/filter-off.png');
    background-size: 12px;
    background-position: 90% center;
    background-repeat: no-repeat;
}
.leaderboards>.board>.heading>span.has-filter.is-on {
    background-image: url('../images/filter-on.png');
}

.leaderboards>.board>.heading>span.has-filter>ul {
    list-style-type: none;
    background-color: #212121;
    margin: 0;
    padding: 0.5em;
    border: 1px solid #434343;
    z-index: 1;
    position: relative;
    left: -9px;
    width: 150px;
}
.leaderboards>.board>.heading>span.has-filter>ul>li {
    padding: 0 0.5em;
}

.leaderboards>.board>.heading>span.has-filter>ul>li a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.leaderboards>.board>.heading>span.has-filter>ul>li:hover {
    background-color: #313131;
}

.leaderboards>.board>.heading>span.has-filter>ul>li.clear {
    font-size: 80%;
    font-style: italic;
    color: #808080;
}

.leaderboards>.board>.heading>span:last-child {
    border-right: 0;
}

.leaderboards>.board>.table>.row {
    height: 38px;
    color: white;
    font-size: 18px;
    border: #434343 1px solid;
    border-top: 0;
}
.leaderboards>.board.detail>.table>.row {
    font-size: 14px;
}

.leaderboards>.board>.table>:nth-child(1),
.leaderboards>.board>.table>:nth-child(3),
.leaderboards>.board>.table>:nth-child(4),
.leaderboards>.board>.table>:nth-child(6),
.leaderboards>.board>.table>:nth-child(7),
.leaderboards>.board>.table>:nth-child(9)
{
    background-color: black;
}

.leaderboards>.board>.table>:nth-child(2),
.leaderboards>.board>.table>:nth-child(5),
.leaderboards>.board>.table>:nth-child(8)
{
    background-color: #121212;
}

.leaderboards>.board>.table>.row>span {
    display: block;
    float: left;
    margin-left: 8px;
    height: 38px;
    line-height: 38px;
}

.leaderboards>.board>.table>.row>span.rank {
    box-sizing: border-box;
    padding-left: 8px;      /* extra indent */
}
.leaderboards>.board>.table>.row>span.count,
.leaderboards>.board>.table>.row>span.number,
 {
    text-align: right;
    box-sizing: border-box;
    padding-right: 30px;
}

.leaderboards>.board>.table>.row.more {
    text-align: center;
    height: 38px;
    background-color: #212121;
    line-height: 38px;
    cursor: pointer;
}
.leaderboards>.board>.table>.row.more a:visited,
.leaderboards>.board>.table>.row.more a {
    text-decoration: none;
    color: white;
    display: block; width: 100%; height: 100%;
}
