/**
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/
@import "settings.scss";
.block-sections {
  height: 100%;
  .block-section {
    overflow: hidden;
    /* position: relative; */
    &.shape-section {
      height: $shape-section-height;
    }
    &.material-section {
      height: $material-section-height;
    }
  }
  .block-section-title {
    height: $block-title-height;
    line-height: 30px;
    text-transform: uppercase;
    color: white;
    margin: 0 0 $block-title-bottom-margin 0;
    padding: 0 $block-title-horizontal-margin;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    box-sizing: border-box;
    &.button {
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    .status-icon {
      float: right;
      display: block;
      width: 24px;
      height: 24px;
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: center bottom;
      &.filter {
        background-image: url('../images/FILTER.png');
      }
      &.filtered {
        background-image: url('../images/FILTER-ON.png');
      }
    }
  }
  .block-filter {
    height: 100%;
    .pick {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      text-overflow: ellipsis;
      padding-right: 1em;
      padding-right: 50%;
    }
    .picked {
      width: 45%;
      overflow-y: auto;
      overflow-x: hidden;
      text-overflow: ellipsis;
      position: absolute;
      top: $shape-section-height + $block-title-height + $block-title-bottom-margin;
      right: 5px;
      z-index: 1;
    }
    .keyword {
      color: white;
      height: 2em;
      line-height: 2em;
      margin: 0 0 0 5px;
      cursor: pointer;
      &.selected {
        background-color: rgba(0,0,0,0.1);
        background-image: url(../images/FILTERED.png);
        background-size: 1em;
        background-repeat: no-repeat;
        background-position: 6px center;
        padding-left: 24px;
      }
      &:hover {
        background-color: rgba(255,255,255,0.2);
      }
    }
  }
  .block-section-content {
    overflow-y: auto;
    height: calc(100% - #{$block-title-height} - #{$block-title-bottom-margin});
    width: 100%;
    padding: 0;
    .block-icon {
      float: left;
      width: $icon-width;
      height: $icon-height;
      border: 1px solid rgba(255,255,255,0);
      margin: 0px 0px 0px 5px;
      cursor: pointer;
      &.selected {
        background-color: rgba(0,0,0,0.75);
        border: 1px solid rgba(255,255,255,0.75);
      }
      img {
        width: 100%;
        height: 100%;
      }
      .tooltip {
        position: fixed;
        top: $shape-section-height;
        right: $content-breadth + $tab-full-breadth + 20px;
        width: 310px;
        border: 5px solid rgba(0,0,0,0.75);
        box-sizing: border-box;
        display: none;
        .inner {
          background-color: rgba(0,0,0,0.95);
          color: white;
          padding: 5px 5px 5px 0;
          height: 84px;
          img {
            width: 64px;
            height: 64px;
            float: left;
            margin: 5px;
          }
          .label {
            margin-right: 5px;
            min-width: 40px;
            color: #444;
            display: inline-block;
          }
        }
      }
      &:hover {
        border: 1px solid rgba(255,255,255,0.75);
        .tooltip {
          display: block;
        }
      }
      &.shape-icon img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
  }
}
