/**
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

.silver-gradient-border {
  border-width: 1px;
  border-image: linear-gradient(to bottom left, transparent, rgba(132, 132, 132, 0.8), transparent);
  border-image-slice: 1;
}

.scrollable {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(128,128,128,0.1);
    border: 1px solid rgba(128,128,128,0.3)
  }
}

.thin-scroll {
  &::-webkit-scrollbar-thumb {
    border: 0;
    background-color: rgba(128,128,128,0.3);
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
}

.loading {
  width: 100%;
  margin-top: 64px;
  color: white;
  text-align: center;
}
