/**
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/
@import "settings.scss";

.dock {
  position: fixed;

  /* building toggle button (always visible) */
  .toggle-button {
    position: fixed;
    cursor: pointer;
    left: 0;
    bottom: 0;
    width: 67px;
    height: 61px;
    background: url('http://camelot-unchained.s3.amazonaws.com/icons/general-ui/building-btn.jpg') no-repeat bottom left;
    div {
      display: none;
      width: 100%;
      height: 100%;
      background-image: url('../images/active-frame.gif');
      background-size: 100%;
    }
  }

  /* Add active frame around button when building mode is active */
  &.on {
    .toggle-button div {
      display: block;
    }
  }

  /* if building is off, then hide UI */
  &.off {
    .tabs, .content {
      display: none;
    }
  }

  /* docked on right */
  &.right {
    right: 0;
    width: $tab-full-breadth + 0px;
    height: $content-length;
    transition-duration: 0.5s;
    .tabs {
      float: left;
      height: $content-length;
      width: $tab-full-breadth + 0px;
      .tab {
        height: $tab-length + 0px;
        width: $tab-breadth + 0px;
        border-right: 0;
        margin-left: ($tab-full-breadth - $tab-breadth) + 0px;
        margin-top: -1px;
        box-shadow: -2px 5px 5px 2px rgba(0,0,0,0.5);
        &.selected {
          margin-left: 0;
          width: $tab-full-breadth + 0px;
        }
        &.toggle {
          height: $tab-toggle-length + 0px;
          line-height: $tab-toggle-length + 0px;
        }
        &.blocks, &.blueprints, &.favorites {
          background-position: center center;
          background-size: 50%;
          background-repeat: no-repeat;
        }
        &.blocks {
          background-image: url(../images/BLOCKS-V.png);
        }
        &.blueprints {
          background-image: url(../images/BLUEPRINTS-V.png);
        }
        &.favorites {
          background-image: url(../images/FAVORITES-V.png);
        }
      }
    }
    .content {
      height: $content-length;
      width: 0px;
      margin-left: $tab-full-breadth + 0px;
      border-left: 1px solid rgba(255,255,255,0.5);
      transition-delay: 0.5s;
    }

    &.open {
      width: ($content-breadth + $tab-full-breadth) + 0px;
      .content {
        width: $content-breadth + 0px;
        transition-delay: 0s;
        box-shadow: -2px 5px 5px 2px rgba(0,0,0,0.5);
      }
    }
  }

  /* docked at top - not yet implemented */
  &.top {
    position: fixed;
    height: ($tab-full-breadth) + 0px;
    width: $content-length;
    .tabs {
      width: $content-length;
      height: $tab-full-breadth + 0px;
      .tab {
        width: $tab-length + 0px;
        height: $tab-breadth + 0px;
        border-top: 0;
        margin-bottom: ($tab-full-breadth - $tab-breadth) + 0px;
        &.selected {
          margin-bottom: 0;
          height: $tab-full-breadth + 0px;
        }
        &.toggle {
          width: $tab-toggle-length + 0px;
        }
        &.blocks, &.blueprints, &.favorites {
          background-position: center center;
          background-size: 50%;
          background-repeat: no-repeat;
        }
        &.blocks {
          background-image: url(../images/BLOCKS.png);
        }
        &.blueprints {
          background-image: url(../images/BLUEPRINTS.png);
        }
        &.favorites {
          background-image: url(../images/FAVORITES.png);
        }
      }
    }
    .content {
      width: $content-length;
      height: 0px;
      margin-bottom: $tab-full-breadth + 0px;
      border-bottom: 1px solid rgba(255,255,255,0.5);
    }
    &.open {
      height: ($content-breadth + $tab-full-breadth) + 0px;
      .content {
        height: $content-breadth + 0px;
      }
    }
  }

  /* tab styles */
  .tabs {
    .tab {
      background-color: rgba(30, 30, 30, 0.9);
      color: white;
      text-orientation: upright;
      border: 1px solid rgba(150,150,150,0.9);
      border-radius: 4px 0 0 4px;
      cursor: pointer;
      &.selected {
        background-color: rgba(150,150,150,0.9);
      }
      &.toggle {
        text-align: center;
        font-weight: bold;
      }
    }
  }
  .content {
    background-color: rgba(30, 30, 30, 0.9);
  }
}
