/**
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

$content-breadth: 200;
$content-length: 100%;
$tab-length: 150;
$tab-toggle-length: 25;
$tab-breadth: 22;
$tab-full-breadth: 24;

$block-title-bottom-margin: 5px;
$block-title-horizontal-margin: 5px;
$block-title-height: 30px;
$block-section-height: calc(100% - 35px);

$shape-section-height: 100px;
$material-section-height: calc(100% - #{$shape-section-height});

$icon-width: 32px;
$icon-height: 32px;
