/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

$cu-styles-root: '../../../interface-lib/@csegames/camelot-unchained/styles/';
@import "../../../node_modules/@csegames/camelot-unchained/lib/index.scss";

#plotcontrol-container {
  pointer-events: all;
}

#cse-ui-plotcontrol {
  width: 250px;
  height: 250px;
}

.cu-window-content::before {
  opacity: 0.6;
}

.list {
  overflow: auto;
  height: calc(100% - 80px);
  list-style: none;
  padding: 4px 2px 0px 5px;
  li {
    margin-bottom: 0px;
    padding: 4px 2px 4px 4px;
    text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
  }
}

.matBlueprint {
    border-color: red;
    border-style: dashed;
}

.plotButton {
  width: 105px;
  height: 29px;
  font-family: 'Cinzel', serif;
  font-size: 11px;
  color: #fff;
  background: url(../../images/window/btn.png) no-repeat 0 0;
  border: none;
  outline: none;
}

.plotButton:disabled {
  -webkit-filter: brightness(0.4);
  filter: brightness(0.4);
}

.plotButton:not(:disabled) {
  cursor: pointer;
}

.plotButton:hover:not(:disabled) {
  background-position: 0 -29px;
}

.plotButton:active:not(:disabled) {
  background-position: 0 -58px;
}

.plotMoveUp {
    width: 16px;
    height: 17px;
    border: none;
    outline: none;
}

.plotMoveDown {
    width: 16px;
    height: 17px;
    border: none;
    outline: none;
}
